@import url("../css/bootstrap.min.css");
@import url("../fonts/feather/feather.css");
@import url("font-awesome.min.css");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url("../css/animate.css");


$roboto: "Roboto"  ;

body {
  background-color: #ffffff;
  font-family: "Montserrat", sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

p {
  font-size: 18px;
  line-height: 22px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #003B8E;
}

h1 {
  font-size: 55px;
  line-height: 67px;
  font-weight: 700;
}

h2 {
  font-size: 36px;
  line-height: 48px;
  font-weight: 700;
}

h3 {
  font-size: 30px;
  line-height: 37px;
  font-weight: 700;
}

h4 {
  font-size: 27px;
  line-height: 29px;
  font-weight: 700;
}

h5 {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

h6 {
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.4s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  color: #000;
}

// a:hover {
//   color: #fff;
//   text-decoration: none;
// }

a:focus {
  outline: none;
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

fieldset {
  border: 0 none;
  margin: 0 auto;
  padding: 0;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}


.btn {
  font-family: $roboto !important;
}

/*   normalize  */

/* font family added */

@media (max-width: 1230px) {

  .container {
    max-width: 100%;
  }

}

@media (min-width: 1260px) {

  .container {
    max-width: 1260px;
  }
}

/* Use the variables */

/* end the variables */

.btn-custom.btn-primary {
        height: 53px;
        background: rgb(65,173,212);
        background: linear-gradient(114deg, rgba(65,173,212,1) 0%, rgba(23,99,167,1) 100%) !important;
        color: #fff;
        font-size: 18px;
        line-height: 26px;
        width: 100%;
        max-width: 200px;
        display: block;
        min-width: 200px;
        border-color: transparent;
        border-radius: 0 3px 3px 0;
        box-shadow: none;
        transition: all 0.3s ease-in-out;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0  10px 30px rgba(0, 59, 142, 0.50);

        &:hover {
          background: rgb(42,111,133);
          background: linear-gradient(111deg, rgba(42,111,133,1) 0%, rgba(9,37,59,1) 100%);
          transition: all 0.3s ease-in-out;
          border-color: #fff !important;
        }

        &:active {
          background: rgb(42,111,133);
          background: linear-gradient(111deg, rgba(42,111,133,1) 0%, rgba(9,37,59,1) 100%);
          transition: all 0.3s ease-in-out;
          border-color: #fff !important;
        }
}

/*###########################################################################
############################## header section ###############################*/

.fixed-top {
  background-color: #000000 !important;
  box-shadow: 0 7px 12px rgba(0, 0, 0, 0.02);
  position: fixed !important;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  height: 70px;
  padding: 8px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.header {
  height: 82px;
  position: relative;

  // .row-100 {
  //   width: 100%;
  //   margin: 0;

  //   .col-12 {
  //     padding: 0;
  //   }
  // }

  .navbar {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    display: flex;
    height: 82px;
    background: rgb(71,184,218);
    background: linear-gradient(90deg, rgba(71,184,218,1) 0%, rgba(0,59,142,1) 100%);
    box-shadow: 0 7px 12px rgba(0,0,0,.02); 
    z-index: 999;
    padding: 8px 0;
    
    /* border-bottom: 1px solid rgba(236, 236, 236, 0.6); */

    .col-header {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;

      .col-30 {
        flex: 0 0 20%;
        max-width: 20%;
      }

      .col-70 {
        flex: 0 0 80%;
        max-width: 80%;
      }
    }

    .navbar-brand {
      width: 188px;
      height: au  to;
      display: block;
      padding: 7px 14px;
      border: 1px solid transparent;

      &:hover {
        border: 1px solid #fff;
      }

      img {
        width: 100%;
      }

      .logo-1 {
        display: block;
      }

      .logo-2 {
        display: none;
      }

      &:active {
        .logo-1 {
          display: none;
        }

        .logo-2 {
          display: block;
        }
      }
    }

    .navbar-toggler {
      color: #ffffff;
      padding: 0;
      outline: 0;
      border: 0;

      .navbar-toggler-icon {
        background-color: transparent;
        background-image: url("../../assets/images/menubar.png");
        background-repeat: no-repeat;
        background-size: contain;
        height: 35px;
        width: 35px;
        border: 0;
      }
    }

    .navbar-toggler {
      position: absolute;
      right: 15px;
      top: -17px;
      border: 0;
    }

    .collapse1 {
      height: 100%;
      height: 100%;

      .navbar-nav {
          
        .nav-item {

          .nav-link {
            color: #ffffff;
            font-size: 18px;
            line-height: 22px;
            padding: 10px 10px;
            font-weight: 500;
            transition: all 0.4s ease-in-out;
            border: 1px solid transparent;
            height: 43px;

            &:hover {
              transition: all 0.4s ease-in-out;
              color: #EBEBEB;
              border: 1px solid #fff;
            }

            &:active {
              transition: all 0.4s ease-in-out;
              color: #EBEBEB;
              border: 1px solid #fff;
            }
          }
          
          // .pdr-0 {
          //   padding-right: 0;
          // }

          .nav-link.active {
            transition: all 0.4s ease-in-out;
            color: #ffffff;
          }
        }
        .nav-btn {

          .nav-link {
            font-size: 16px;
            min-height: 30px;
            line-height: 22px;
            border-radius: 4px;
            padding: 8px 20px;
            color: #ffffff;
          }
        }
      }
    }
  }
}

.sidenav-new-menu .closebtn {
  display: none;

  img {
    width: 20px;
    height: 20px;
  }
}

.nav-center {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .search-bar {
    max-width: 814px;
    width: 100%;
    border-radius: 3px;
    position: relative;
    
    .search-div {
      padding: 0 !important;
      border-radius: 0 3px 3px 0;
      background: rgb(65,173,212);
      background: linear-gradient(114deg, rgba(65,173,212,1) 0%, rgba(23,99,167,1) 100%);
    }

    .input-group-prepend {
      margin: 0;
    }

    .search-icon {
      position: absolute;
      left: 2px !important;
      top: 2px;
      z-index: 9;
      height: 36px !important;
      width: 36px;
      border-color: transparent;
    }

    .input-group-text {
      background-color: transparent;
      border: 0;
      height: 40px;
      border-radius: 0 3px 3px 0;
      background-color: #fff;

      i {
        font-size: 24px;
        color: #474645;
      }

      .btn {
        height: 40px;
        border-radius: 0;
      }

      .btn-search {
        background: rgb(65,173,212);
        background: linear-gradient(114deg, rgba(65,173,212,1) 0%, rgba(23,99,167,1) 100%);
        color: #fff;
        font-size: 18px;
        line-height: 26px;
        width: 100%;
        max-width: 122px;
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 122px;
        border-color: transparent;
        border-radius: 0 3px 3px 0;
        box-shadow: none;
        transition: all 0.3s ease-in-out;
        border: 0;

        &:hover {
          background: rgb(42,111,133);
          background: linear-gradient(111deg, rgba(42,111,133,1) 0%, rgba(9,37,59,1) 100%);
          transition: all 0.3s ease-in-out;
          border: 1px solid #fff;
        }

        &:active {
          background: rgb(42,111,133);
          background: linear-gradient(111deg, rgba(42,111,133,1) 0%, rgba(9,37,59,1) 100%);
          transition: all 0.3s ease-in-out;
          border: 1px solid #fff;
        }
      }

    }

    .form-control {
      height: 40px;
      border-color: #fff;
      font-size: 16px;
      line-height: 28px;
      font-family: $roboto;
      box-shadow: none;
      padding-left: 50px;
      outline: none;
      border-radius: 3px 0 0 3px;
      margin-right: -1px;
      z-index: 2;
      position: relative;

      &:focus {
        border-color: #003B8E;

        &::placeholder {
          opacity: 0;
        }
      }
    }
  }

  .collapse1 {
    max-width: 264px;

    .navbar-nav {
      justify-content: flex-end;
      width: 100%;
      min-width: 212px;
    }
  }
}

/*############################## Home section ###############################*/


.form-group {
  margin-bottom: 20px;

  label {
    font-size: 18px;
    color: #181818;
    letter-spacing: 0;
    font-weight: 400;
    margin-bottom: 10px;
  }

  .form-control {
    border: 1px solid #c7c7c7;
    height: 50px;
    background-color: #ffffff;
    border-radius: 0;
    font-size: 18px;
    box-shadow: none;
    outline: 0;

    &:focus {
      border-color: #1d61f6 !important;
      color: #000000;

      
    }
  }
}

.input-group {

  .input-group-addon {
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 99;

    a {
      text-decoration: none;
      color: #727272;
    }

    i {
      font-size: 20px;
    }
  }

  .form-control {
    padding-right: 40px;
  }
}

input.form-control {
  &:focus {
    &::placeholder {
      opacity: 0;
    }
  }
}

/*  middle section start here */

.middle-section {
  padding-top: 82px;
  

  .find-section {
    padding: 160px 0 70px 0;

    .content {
      h1 {
        margin-bottom: 0;
      }

      h2 {
        font-size: 24px;
        line-height: 29px;
        color: #000000;
        font-weight: 300;
        margin-bottom: 20px;
      }

      .search-bar {
        max-width: 709px;
        width: 100%;
        background-color: #fff;
        border-radius: 3px;
        overflow: hidden;        
        position: relative;

        .search-div {
          padding: 0 !important;
        }
    
        .search-icon {
          position: absolute;
          left: 0;
          top: 0;
          z-index: 9;
        }

        .input-group-text {
          background-color: transparent;
          border: 0;
          height: 40px;
          border-radius: 0 3px 3px 0;
          
         

          i {
            font-size: 24px;
            color: #474645;
          }
    
          .btn {
            height: 40px;
            border-radius: 0;
          }
    
          .btn-search {
            background: rgb(65,173,212);
            background: linear-gradient(114deg, rgba(65,173,212,1) 0%, rgba(23,99,167,1) 100%);
            color: #fff;
            font-size: 18px;
            line-height: 26px;
            width: 100%;
            max-width: 122px;
            display: block;
            min-width: 122px;
            border: 0;
            border-radius: 0 3px 3px 0;
            overflow: hidden;
            transition: all 0.3s ease-in-out;

            &:hover {
              background: rgb(42,111,133);
              background: linear-gradient(111deg, rgba(42,111,133,1) 0%, rgba(9,37,59,1) 100%);
              transition: all 0.3s ease-in-out;
            }
          }
    
        }
    
        .form-control {
          height: 40px;
          border-color:#003B8E;
          font-size: 16px;
          line-height: 28px;
          font-family: $roboto;
          box-shadow: none;
          outline: none;
          padding-left: 50px;
          border-radius:  3px 0 0 3px;

          &:focus {
            
    
            &::placeholder {
              opacity: 0;
            }
          }
        }
      }
    
    }

  }

  .popular-guid-section {
    padding: 30px 0 30px 0;

    .heading {
      h3 {
        margin-bottom: 20px;
      }
    }

    .popular-box {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      flex-direction: column;

      .popular-img {
        height: 160px;
        width: 160px;
        min-width: 160px;
        background-color: #E3F5FA;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
        border: 1px solid #E3F5FA;
        transition: all 0.3s;

        img {
          width: 100px;
          height: 100px;
          object-fit: cover;
        }

        &:hover {
          border: 1px solid #BFBFBF;
          transition: all 0.3s;
        }
      }

      h3 {
        font-size: 24px;
        line-height: 24px;
        margin-bottom: 10px;
        font-family: $roboto;
        color: #000;
        transition: all 0.3s;
        a {
          color: #000;

          // &:hover {
          //   text-decoration: underline;
          //   transition: all 0.3s;
          // }
        }
       
      }

      p {
        font-size: 16px;
        line-height: 18px;
        font-family: $roboto;
        color: #000;
      }

      &:hover {

        h3 {
          text-decoration: underline;
          transition: all 0.3s;
        }

        .popular-img {
          border: 1px solid #BFBFBF;
          transition: all 0.3s;
        }
      }

    }


    .owl-theme {
      padding: 0 30px;

      .owl-nav {
        position: absolute;
        top: calc(50% - 50px);
        right: 0;
        left: 0;
        flex-direction: row;
        display: flex;
        justify-content: space-between;
        width: 100%;

        .owl-prev {
          left: -55px;
          position: absolute;
        }

        .owl-next {
          right: -55px;
          position: absolute;
        }

        button {
          height: 50px;
          width: 50px;
          border: 2px solid #F1F9FF;
          background-color: #FAFAFA;
          border-radius: 10px;
          box-shadow: none;
          outline: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #2699FB;
          font-weight: 600;
          transition: all 0.3s;

          i {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 18px;
          }

          &:hover {
            border-color: #2699FB;
            transition: all 0.3s;
     
          }
        }
      }
    }
  }

  .makeup-section {
    padding-top: 16px;

    .makeup-inner-div {
      background-color: rgba(0, 59, 142,0.68);
      padding: 36px 80px;
    }

    h3 {
      color: #fff;
      font-size: 24px;
      line-height: 30px;
      font-weight: 300;
      margin: 5px 0;
    }

    .search-bar {
      margin-left: 20px;
      width: calc(100% - 20px);
      background-color: #fff;
      border-radius: 3px;
      position: relative;

      .search-div {
        padding: 0 !important;
      }
  
      .search-icon {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 9;
        display: none;
      }

      .input-group-text {
        background-color: transparent;
        border: 0;
        height: 40px;
        border-radius: 0 3px 3px 0;
        
       

        i {
          font-size: 24px;
          color: #474645;
        }
  
        .btn {
          height: 40px;
          border-radius: 0;
        }
  
        .btn-search {
          background: rgb(65,173,212);
          background: linear-gradient(114deg, rgba(65,173,212,1) 0%, rgba(23,99,167,1) 100%);
          color: #fff;
          font-size: 18px;
          line-height: 26px;
          width: 100%;
          max-width: 122px;
          display: flex;
          align-items: center;
          justify-content: center;
          min-width: 122px;
          border-radius: 0 3px 3px 0;
          box-shadow: none;
          border: 0;
          transition: all 0.3s ease-in-out;

          &:hover {
            background: rgb(42,111,133);
            background: linear-gradient(111deg, rgba(42,111,133,1) 0%, rgba(9,37,59,1) 100%);
            transition: all 0.3s ease-in-out;
            border: 1px solid #fff;
          }

          &:active {
            background: rgb(42,111,133);
            background: linear-gradient(111deg, rgba(42,111,133,1) 0%, rgba(9,37,59,1) 100%);
            transition: all 0.3s ease-in-out;
            border-color: #fff;
          }
        }
  
      }
  
      .form-control {
        height: 40px;
        border-color:#003B8E;
        font-size: 16px;
        line-height: 28px;
        font-family: $roboto;
        box-shadow: none;
        outline: none;
        // padding-left: 50px;
        border-radius:  3px 0 0 3px;
        z-index: 2;
        position: relative;

        &:focus {
          &::placeholder {
            opacity: 0;
          }
        }
      }
    }
  }

  .feature-section {
    padding: 60px 0;

    .heading {
      h2 {
        color: #003B8E;
        margin-bottom: 10px;
        font-size: 30px;
        line-height: 37px;
      }

      p {
        font-size: 18px;
        line-height: 22px;
        color: #000;
        margin-bottom: 20px;
        font-family: $roboto;
      }
    }

    .featured-item {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 20px;
      width: 100%;
      border: 2px solid transparent;

      .featured-img {
        width: 400px;
        height: 116px;
        border: 2px solid transparent;
        overflow: hidden;
      }

      .featured-content {
        width: calc(100% - 400px);
        background-color: rgba(181, 206, 255, 0.10);
        padding: 19px 21px;
        height: 100%;
        min-height: 116px;;
        border: 2px solid transparent;
        margin-left: -2px;

        a {
          text-decoration: none;
        }

        h3 {
          font-size: 24px;
          line-height: 29px;
          margin-bottom: 20px;
          color: #000;
          font-family: $roboto;
          
        }

        ul {
          margin: 0;
          padding: 0;
          list-style: none;

          li {
            display: inline-block;
            padding: 0 10px;
            font-family: $roboto;
            border-right: 1px solid #000;

            a {
              font-size: 18px;
              color: #000;
              line-height: 20px;
              text-decoration: underline;
              
              h4 {
                font-size: 18px;
                color: #000;
                line-height: 20px;
                font-weight: 400;
                margin-bottom: 0;
              }

              &:hover {
                font-weight: 600;
                color: #000;
                border-bottom: 1px solid;

                h4 {
                  font-weight: 600;
                }
              }
            }

            &:first-child {
              padding-left: 0;
            }

            &:last-child {
              border-right: 0;
            }
          }
        }
      }

      &:hover {

        .featured-img {
          border-color: #707070;
        }

        .featured-content {
          border-color: #707070;
          border-left-color: transparent !important;
        }
      }
    }


  }

  .best-deal-section {
    padding: 20px 0 20px 0;

    .heading {

      h2 {
        color: #003B8E;
        margin-bottom: 10px;
        font-size: 30px;
        line-height: 37px;
        margin-bottom: 10px;
        
      }

      p {
        font-size: 18px;
        line-height: 22px;
        color: #000;
        font-family: $roboto;
        margin-bottom: 20px;
      }
    }

    .sub-heading {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 30px;

      h3 {
        color: #003B8E;
        margin-bottom: 10px;
        font-size: 30px;
        line-height: 37px;
        margin-bottom: 0px;
      }

      a {
        font-size: 18px;
        line-height: 22px;
        color: #000;
        margin-bottom: 0px;
        margin-left: 10px;
        font-weight: 300;
        border-left: 1px solid #000;
        padding-left: 10px;
        &:hover {
          font-weight: 700;
        }

        &:focus {
          font-weight: 700;
        }
      }
    }

    .product-item {
      text-align: center;
      max-width: 190px;
      width: 100%;

      .product-price {
        h4 {
          font-size: 18px;
          line-height: 22px;
          margin-bottom: 26px;
        }
      }

      .product-img {
        margin-bottom: 26px;
        img {
          width: 110px;
          height: 112px;
          object-fit: cover;
          margin: 0 auto;

        }
      }

      .product-review  {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 11px;

        .rating {
          display: flex;
          align-items: center;
          justify-content: flex-start;

          i {
            color: #F89A48;
            font-size: 17px;
            margin-right: 3px;
          }
        }
        
        a {
          color: #414141;
          font-size: 14px;
          line-height: 18px;
          margin-left: 5px;
          font-family: $roboto;
        }
      }

      .product-name {
        min-height: 56px;
        margin-bottom: 10px;

        h3 {
          font-size: 18px;
          line-height: 22px;
          color: #000000;
          font-weight: 400;
          font-family: $roboto;
        }
      }

      .product-btns {
        display: flex;
        align-items: center;
        flex-direction: column;

        .btn {
          width: 100%;
          font-size: 16px;
          line-height: 19px;
          height: 40px;
          font-weight: 500;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 10px;
          box-shadow: none;

          &:last-child {
            margin-bottom: 0;
          }
        }

        .btn-primary {
          background-color: rgba(248, 154, 72,0.80);
          color: #000;
          border-color: rgba(248, 154, 72,0.80);

          &:hover {
            background-color: #F89A48;
            border-color: #979797;
            
          }
        }

        .btn-outline-primary {
          background-color: #fff;
          color: #000;
          font-weight: 400;
          border-color: #F89A48;
          transition: all 0.3s;

          &:hover {
            background-color: #FCF1E7;
            text-decoration: none;
            transition: all 0.3s;
          }

          &:active {
            text-decoration: underline;
          }
        }
      }
    }

    .owl-theme {
      padding: 0 30px;

      .owl-nav {
        position: absolute;
        top: calc(50% - 50px);
        right: 0;
        left: 0;
        flex-direction: row;
        display: flex;
        justify-content: space-between;
        width: 100%;

        .owl-prev {
          left: -55px;
          position: absolute;
        }

        .owl-next {
          right: -55px;
          position: absolute;
        }

        button {
          height: 50px;
          width: 50px;
          border: 2px solid #F1F9FF;
          background-color: #FAFAFA;
          border-radius: 10px;
          box-shadow: none;
          outline: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #2699FB;
          font-weight: 600;
          transition: all 0.3s;

          i {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 18px;
          }

          &:hover {
            border-color: #2699FB;
            transition: all 0.3s;
     
          }
        }
      }
    }
  }



  // 

  .product-details {
    padding: 80px 0 30px 0;

    .content {
      h1 {
        font-size: 50px;
        color: #003B8E;
        line-height: 70px;
        margin-bottom: 40px;
      }

      .profile-owner {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 30px;

        .img-profile {
          height: 45px;
          width: 45px;
          border-radius: 100%;
          overflow: hidden;
        }

        .profiel-name {
          padding-left: 14px;
          min-height: 45px;
          display: flex;
          align-items: center;

          p {
            font-size: 16px;
            line-height: 35px;
            color: rgba(0, 0, 0,0.5);
            margin-bottom: 0;
            font-family: $roboto;
            font-weight: 400;
          }
        }
      }
    }
    
    .content-product {
   

      .img-detail {
        float: right;
        height: 350px;
        width: 525px;
        margin-left: 35px;
      }

      p {
        padding-left: 30px;
        position: relative;
        margin-bottom: 6px;
        font-size: 20px;
        font-family: $roboto;
        line-height: 30px;

        // &::before {
        //   content: '';
        //   height: 10px;
        //   width: 10px;
        //   border-radius: 10px;
        //   background-color: rgba(0, 0, 0,0.3);
        //   display: block;
        //   left: 5px;
        //   position: absolute;
        //   top: 10px;
          
        // }

        span {
          &::before {
            content: '';
            height: 10px;
            width: 10px;
            border-radius: 10px;
            background-color: rgba(0, 0, 0,0.3);
            display: block;
            left: 5px;
            position: absolute;
            top: 10px;
          }
        }
      }

    }

  }

  .learn-filter-section {
    background-color: #EFFAFD;
    padding: 32px 0 40px 0;

    .heading {
      h2 {
        font-size: 24px;
        line-height: 29px;
        color: #000; 
        font-family: $roboto;
      }
    }

    .profile-owner {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 30px;
      margin-top: 32px;

      .img-profile {
        height: 45px;
        width: 45px;
        border-radius: 100%;
        overflow: hidden;
      }

      .profiel-name {
        padding-left: 14px;
        min-height: 45px;
        display: flex;
        align-items: center;

        p {
          font-size: 18px;
          line-height: 27px;
          color:#003B8E;
          margin-bottom: 0;
          font-family: $roboto;
          font-weight: 300;
        }
      }
    }

    .content {
      margin-bottom: 20px;

      h2 {
        font-size: 30px;
        line-height: 45px;
        color: #000000;
      }

       P {
         font-size: 18px;
         line-height: 27px;
         color: #000;
         margin-bottom: 0;
         font-family: $roboto;
       }

       
    }

    .radio-list {
      .radio-item {
        background-color: #fff;
        box-shadow: 0 3px 6px  #BFBFBF;
        border-radius: 6px;
        width: 100%;
        overflow: hidden;
        margin-bottom: 20px;

        .custom-control {
          width: 100%;
        }

        .custom-control-label {
          width: 100%;
          display: block;

          &::before {
            top: 16px;
            left: -10px;
            height: 25px;
            width: 25px;
          }

          &::after {
            top: 16px;
            left: -10px;
            height: 25px;
            width: 25px;
            background-size: 17px;
            background-position: center;
          }
        }

        .custom-control-input:checked~.custom-control-label::before {
          background-color: #fff;
          border-color: #707070;
        }
        .custom-control-input:checked~.custom-control-label::after {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='17' viewBox='0 0 17 17'%3E%3Cg id='Ellipse_12' data-name='Ellipse 12' fill='%23003b8e' stroke='%23707070' stroke-width='0.5'%3E%3Ccircle cx='8.5' cy='8.5' r='8.5' stroke='none'/%3E%3Ccircle cx='8.5' cy='8.5' r='8.25' fill='none'/%3E%3C/g%3E%3C/svg%3E%0A");
        }

        .btn-open {
          display: none;
        }

        

        .call-detail {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          width: 100%;


         

          .call-content {
            width: calc(100% - 202px);
            padding: 15px 19px 15px 29px;
            min-height: 110px;

           
            h3 {
              font-size: 20px;
              line-height: 22px;
              color: #000;
              font-family: $roboto;
              margin-bottom: 12px;
            }

            P {
              font-size: 16px;
              line-height: 24px;
              color: #000;
              font-family: $roboto;
              margin-bottom: 0;
            }
          }

          .img-content {
             img {
              display: none;
             }
          }

          .selected-div {
            display: none;
            margin-top: 10px;

            .btn-select {
              height: 33px;
              width: 101px;
              border-radius: 0;
              background: rgb(65,173,212);
              background: linear-gradient(114deg, rgba(65,173,212,1) 0%, rgba(23,99,167,1) 100%);
              color: #fff;
              border-radius: 0px;
              border: 0 !important;
              font-size: 14px;
              font-family: $roboto;
              transition: all 0.3s ease-in-out;
              box-shadow: 0 10px 30px rgba(0, 59, 143,0.5);
  
              &:hover {
                background: rgb(42,111,133);
                background: linear-gradient(111deg, rgba(42,111,133,1) 0%, rgba(9,37,59,1) 100%);
                transition: all 0.3s ease-in-out;
                border-color: #fff !important;
                transition: all 0.3s ease-in-out;
              }
      
              &:active {
                background: rgb(42,111,133);
                background: linear-gradient(111deg, rgba(42,111,133,1) 0%, rgba(9,37,59,1) 100%);
                transition: all 0.3s ease-in-out;
                border-color: #fff !important;
              }
            }
          }

          .call-img {
            width: 202px;
            min-height: 110px;

            img {
              width: auto;
              height: 100%;
              object-fit: cover;
            }

          }
        }

        .no-img {
          .call-content {
            min-height: auto;
          }

          .call-img {
            height: auto;
          }
        }
      }
    }

    .radio-action {
      display: flex;
      align-items: center;
      justify-content: space-between; 

      .right-conetnt {
        display: flex;
        align-items: center;
        flex-direction: row;

        .btn {
          box-shadow: none;
          font-size: 14px;
          color: #000;
          line-height: 18px;
          display: flex;
          align-items: center;
          font-family: $roboto;
          font-weight: 300;

          i {
            font-size:  20px;
          }

          &:hover {
           span {
            text-decoration: underline;
           }
          }
        }
      }
      
    }
  }

  .product-info-section  {
    padding: 40px 0;
    .content {
      .result {
        p {
          font-size: 20px;
          line-height: 22px;
          color: #003B8E;
          margin-bottom: 40px;
        }
      }

      h1 {
        font-size: 30px;
        line-height: 45px;
        color: #003B8E;
        margin-bottom: 15px;
      }

      .filter-div {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 27px;

        ul {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          
          li {
            margin-right: 15px;
            float: left;

            .btn {
              background-color: #D1EDF6;
              color: #003B8E;
              height: 40px;
              font-family: $roboto;
              border-radius: 5px; 
              font-size: 18px;
              line-height: 22px;
              display: flex;
              align-items: center;
              justify-content: center;
              box-shadow: none;

              &:hover {
                background-color: #A5D3E1;
              }

              i {
                font-size: 24px;
              }
            }

            input {
              background-color: #FFFFFF;
              border-color: #B5CEFF;
              max-width: 100px;
              font-size: 18px;
              font-family: $roboto; 
              text-align: center;
            }

            .btn-go {
              background: rgb(65,173,212);
              background: linear-gradient(114deg, rgba(65,173,212,1) 0%, rgba(23,99,167,1) 100%);
              width: 70px;
              height: 40px;
              color: #fff;
              border: 0;
              box-shadow:  0 10px 30px rgba(147, 147, 147, 0.16);

              &:hover {
                background: rgb(42,111,133);
                background: linear-gradient(111deg, rgba(42,111,133,1) 0%, rgba(9,37,59,1) 100%);
                transition: all 0.3s ease-in-out;
                border-color: #fff !important;
              }
      
              &:active {
                background: rgb(42,111,133);
                background: linear-gradient(111deg, rgba(42,111,133,1) 0%, rgba(9,37,59,1) 100%);
                transition: all 0.3s ease-in-out;
                border-color: #fff !important;
              }
            }
          }
        }
      }

     
    }

    .prodcut-item {
      padding-top: 22px;
      padding-bottom: 20px;
      border-bottom: 1px solid rgba(112, 112, 112, 0.4);

      h1 {
        font-size: 30px;
        line-height: 70px;
        color: #003B8E;
        font-weight: 300;
        font-family: $roboto;
        margin-bottom: 7px;
      }

      .product-img {
        max-width: 263px;
        width: 100%;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .product-detail {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;

        .product-name {
          h2 {
            font-size: 30px;
            color: #000000;
            font-weight: 700;
            line-height: 30px;
            font-family: $roboto;
          }
  
          .product-review  {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-bottom: 22px;
    
            .rating {
              display: flex;
              align-items: center;
              justify-content: flex-start;
    
              i {
                color: #F89A48;
                font-size: 17px;
                margin-right: 3px;
              }
            }
            
            a {
              color: #414141;
              font-size: 18px;
              line-height: 22px;
              margin-left: 5px;
              font-family: $roboto;
            }
          }
        }

        .product-desc {
          max-width: 590px;

          h4 {
            font-size: 18px;
            line-height: 22px;
            color: #000000;
            font-weight: 700;
            margin-bottom: 10px;
            font-family: $roboto;
          }

          p {
            color: #000;
            font-size: 18px;
            line-height: 27px;
            color: #000000;
            font-family: $roboto;
            margin-bottom: 17px;
          }
        }

        .product-btns {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          flex-direction: row;
          width: 100%;
  
          .btn {
            width: 100%;
            font-size: 16px;
            line-height: 19px;
            height: 40px;
            max-width: 250px;
            font-weight: 500;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 10px;
            box-shadow: none;
            margin-right: 20px;

            &:last-child {
              
              margin-right: 0;
            }
          }
  
          .btn-primary {
            background-color: rgba(248, 154, 72,0.80);
            color: #000;
            border-color: rgba(248, 154, 72,0.80);
  
            &:hover {
              background-color: #F89A48;
              border-color: #979797;
              
            }
          }
  
          .btn-outline-primary {
            background-color: #fff;
            color: #000;
            font-weight: 400;
            border-color: #F89A48;
            transition: all 0.3s;
  
            &:hover {
              background-color: #FCF1E7;
              text-decoration: none;
              transition: all 0.3s;
            }

            &:active {
              text-decoration: underline;
            }
          }
        }

        .product-footer {
          width: 100%;

          .product-img-mobile {
            display: none;
          }
        }

      }

     

    }
    
    .show-more {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px 0 0 0; 

      a.btn-show-more {
        text-transform: capitalize;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        line-height: 22px;
        font-family: $roboto;
        box-shadow: none;

        &:hover {
          span {
            text-decoration: underline;
          }

        }

        i {
          font-weight: 600;
          font-size: 24px;
          margin-left: 10px;
          text-decoration: none !important;
        }
      }
    }
  }

  .best-values-section {
    padding: 40px 0;
    background-color: #EFFAFD;

    .content {
      h2 {
        font-size: 30px;
        line-height: 40px;
        color: #003B8E;
        margin-bottom: 20px;
      }
    }
    
    .table-div {
      border-radius: 10px; 
      -moz-border-radius:10px;
    -webkit-border-radius:10px;
    overflow: hidden;
    border: 1px solid #707070;

    }
    .table {
      background-color: #fff;
    
      margin-bottom: 0;
      border-spacing: 0;
      border-radius: 10px; 
      -moz-border-radius:10px;
    -webkit-border-radius:10px;

      .thead {
        border: 0;
      }

      .tboday {
        border: 0;
      }

      tr {
        th {
          padding: 8px 10px;
          color: #000;
          font-weight: 700;
          font-size: 18px;
          line-height: 22px;
          vertical-align: middle;
          text-align: center;
          border: 0;

          h3 {
            font-size: 18px;
            color: #000;
            line-height: 22px;
          }

          &:last-child {
            border-radius: 10px; 
          }
          &:first-child {
            border-radius: 10px; 
          }
        }

        .m-78 {
          max-width: 78px;
        }

        .tex-left {
          text-align: left;
        }

        .tbl-img {
          img {
            width: 70px;
            height: 70px;
            object-fit: cover;
          }
        }
        
        .tbl-price {
          color: #003B8E;
        }

        .tbl-runnerup {
          color: #003B8E;
          font-weight: 400;
          font-family: $roboto;

          &:hover {
            text-decoration: underline;
          }
        }

        td {
          padding: 8px 10px;
          vertical-align: middle;
          color: #000;
          font-weight: 700;
          font-size: 18px;
          line-height: 22px;
          text-align: center;
          font-family: $roboto;
          border: 0;
          white-space: nowrap;
          border-top: 1px solid rgba(112, 112, 112, 0.30) !important;

          &:nth-child(4) {
            font-weight: 400;
          }

          &:nth-child(5) {
            font-weight: 400;
          }
        }

        .btn {
          width: 100%;
          font-size: 16px;
          line-height: 19px;
          height: 40px;
          max-width: 250px;
          font-weight: 500;
          display: flex;
          align-items: center;
          justify-content: center;
          box-shadow: none;
         
        }

        .btn-outline-primary {
          background-color: #fff;
          color: #000;
          font-weight: 400;
          border-color: #F89A48;
          transition: all 0.3s;

          &:hover {
            background-color: #FCF1E7;
            text-decoration: none;
            transition: all 0.3s;
          }

          &:active {
            text-decoration: underline;
          }
        }
      }
    }
  }


  // caollpas

  .page-tile-section {
    padding: 18px 0px;
    border-bottom: 2px solid #BFBFBF;

    p{
      margin-bottom: 0;
      font-size: 24px;
      line-height: 36px;
      color: #003B8E;
    }

    a {
      font-size: 24px;
      line-height: 36px;
      color: #003B8E;
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      position: relative;

   
      i {
        font-size: 24px;
        transition: all 0.3s;
        transform: rotate(-180deg);
      }
    }

    .collapsed i{
      transition: all 0.3s;
      transform: rotate(0deg);
    }

    &:hover {
      background-color: rgba(235, 235, 235,0.23);
    }
  }

}


.owl-theme .owl-nav .disabled {
      opacity: 0 !important;
    }


.product-details {
  transition: unset !important;
}

.product-details.collapse {
  padding-top: 50px;
}

.product-details.collapse.show {
  display: block !important;
}

.footer-section {
  padding: 29px 0 25px 0;
  background: rgb(71,184,218);
  background: linear-gradient(90deg, rgba(71,184,218,1) 0%, rgba(0,59,142,1) 100%);

  .quicklink {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;

    ul {  
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      list-style: none;

      li {
        width: 100%;
        display: inline-block;

        a {
          display: block;
          width: 100%;
          font-size: 18px;
          line-height: 30px;
          text-align: center;
          color: #FFFFFF;
          font-weight: 400;
          font-family: $roboto;
          margin-bottom: 17px;
          text-decoration: underline;

          &:hover {
            font-weight: 700;
          }

          &:focus {
            font-weight: 700;
          }
        }
      }
    }
  }

  .footer-text {
    p {
      font-size: 18px;
      line-height: 24px;
      color: #fff;
      text-align: center;
      font-weight: 400;
      font-family: $roboto;
      margin-bottom: 18px;
    }
  }

  .affilate-link {
    a {
      font-size: 18px;
      line-height: 24px;
      text-align: center;
      color: #FFFFFF;
      font-weight: 400;
      font-family: $roboto;
      display: block;
      text-decoration: underline;

      &:hover {
        font-weight: 700;
      }
      
      &:focus {
        font-weight: 700;
      }
    }
  }

  
}

.text-readmore {
  display: none;
}

.learn-more {
  display: none;
}

.collapse.open {
  display: block;
} 


.maxinput:disabled {
  // background-color: #fafafa !important;
}

.dollars {
  position: relative;
  padding-left: 10px !important;

  
  input {
    padding-left: 25px !important;
    text-align: left !important;
  }

  &::after {
      color: #37424a !important;
      content: "$";
      font-size: 16px !important;
      font-weight: 400;
      position: absolute;
      top: 9px;
      left: 25px;
      height: 20px;
      width: 10px;
      z-index: 99;
      color: #495057;
      font-family: $roboto;
  }
}

// modal {
  .modal-custom {
    .modal-dialog {

      max-width: 575px;
      margin-top: 120px;
      margin-bottom: 50px;
      .modal-content {
        border-radius: 5px;
        border: 0;

        .modal-header {
          padding: 28px 30px 12px 30px;
          border: 0;

          h5 {
            font-size: 24px;
            line-height: 26px;
            color: #003B8E;
          }

          .close {
            box-shadow: none;
            outline: none;
            color: #003B8E;
            font-size: 30px;
            opacity: 1;
          }

          .btn-refresh {
            outline: none;
            color: #003B8E;
            font-size: 30px;
            line-height: 1;
            opacity: 1;
            background: #fff;
            display: none;
            border: 0;
            padding: 1rem 1rem;
            margin: -1rem -1rem -1rem auto;
            animation: rotate 5s normal linear infinite;
            box-shadow: none;
            i {
              font-size: 22px;
            }
          }

        }

        .modal-body {
          padding: 12px 30px 15px 30px;

          .filter-item {
            border-bottom: 1px solid rgba(112, 112, 112,0.4);
            margin-bottom: 20px;

            h3 {
              color: #000000;
              font-size: 20px;
              line-height: 26px;
              font-weight: 400;
              margin-bottom: 15px;
            }

            ul {
              margin: 0 0 5px 0;
              padding: 0;
              list-style: none;
              width: 100%;

              li {
                display: inline-block;
                margin-right: 8px;
                float: none;
                margin-bottom: 10px;
              }
            }


            .filter-option {
              padding: 0;
              display: inline-flex;
              align-items: center;
              justify-content: center;
              height: 28px;
              font-size: 16px;
              line-height: 26px;
              font-family: $roboto;
              background-color: #FFFFFF;
              border: 1px solid #BFBFBF;
              border-radius: 5px;
              padding: 4px 10px 5px 10px;

              &::before {
                display: none;
              }

              &::after {
                display: none ;
              }

              &:hover {
                background-color: rgba(181, 206, 255,0.25) !important;
                border-color: #003B8E;
                color: #000;
              }
            }

            .filter-option.active {
              background-color: rgba(181, 206, 255,0.25) !important;
              border-color: #003B8E;
              color: #000;
            }

            .row-selected {
              .filter-option {
                background-color: #EBEBEB;
              }
            }

            .custom-control {
              padding: 0;
              margin: 0;

              .custom-control-label {
                padding: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 28px;
                font-size: 16px;
                line-height: 26px;
                font-family: $roboto;
                background-color: #FFFFFF;
                border: 1px solid #BFBFBF;
                border-radius: 5px;
                padding: 4px 10px 5px 10px;

                &::before {
                  display: none;
                }

                &::after {
                  display: none ;
                }

                &:hover {
                  background-color: rgba(181, 206, 255,0.25) !important;
                  border-color: #003B8E;
                  color: #000;
                }
              }

              .custom-control-input:checked~.custom-control-label {
                background-color: rgba(181, 206, 255,0.25) !important;
                border-color: #003B8E;
                color: #000;
              }

            }

            .row-selected {
              .custom-control {
                .custom-control-label {
                  background-color: #EBEBEB;
                }
              }
             
            }
          }
        }

        .modal-footer {
          padding: 15px 30px 30px 30px;

          .btn-clear {
            height: 40px;
            background-color: transparent;
            border: 1px solid #707070;
            border-radius: 6px;
            color: #000000;
            font-size: 18px;
            font-family: $roboto;
            transition: all 0.3s ease-in-out;

            &:hover {
              text-decoration: underline;
              transition: all 0.3s ease-in-out;
            }
          }

          .btn-save {
            height: 40px;
            background: rgb(65,173,212);
            background: linear-gradient(114deg, rgba(65,173,212,1) 0%, rgba(23,99,167,1) 100%);
            color: #fff;
            border-radius: 6px;
            border: 0 !important;
            font-size: 18px;
            font-family: $roboto;
            transition: all 0.3s ease-in-out;

            &:hover {
              background: rgb(42,111,133);
              background: linear-gradient(111deg, rgba(42,111,133,1) 0%, rgba(9,37,59,1) 100%);
              transition: all 0.3s ease-in-out;
              border-color: #fff !important;
              transition: all 0.3s ease-in-out;
            }
    
            &:active {
              background: rgb(42,111,133);
              background: linear-gradient(111deg, rgba(42,111,133,1) 0%, rgba(9,37,59,1) 100%);
              transition: all 0.3s ease-in-out;
              border-color: #fff !important;
            }
          }
        }
      }
    }
  }

  .modal-backdrop {
    background-color: #707070 !important;
    opacity: 0.6 !important;
  }


  @keyframes rotate {
    0% {
      -webkit-transform: rotate3d(0, 0, 1, 0deg);
      transform: rotate3d(0, 0, 1, 0deg);
    }
    25% {
      -webkit-transform: rotate3d(0, 0, 1, -90deg);
      transform: rotate3d(0, 0, 1, -90deg);
    }
    50% {
      -webkit-transform: rotate3d(0, 0, 1, -180deg);
      transform: rotate3d(0, 0, 1, -180deg);
    }
    75% {
      -webkit-transform: rotate3d(0, 0, 1, -270deg);
      transform: rotate3d(0, 0, 1, -270deg);
    }
    100% {
      -webkit-transform: rotate3d(0, 0, 1, -360deg);
      transform: rotate3d(0, 0, 1, -360deg);
    }
  }
  
/*###########################################################################
############################## media query started ###############################
######################################################################################*/

@media (min-width: 768px) {
  span#text_hide_show {
    display: block !important;
  }
}


@media (max-width: 320px) {

  
  .middle-section {
    .feature-section .featured-item .featured-img {
      height: 115px !important;
    }

    .feature-section .featured-item .featured-content h3 {
      font-size: 16px !important;
    }

    .product-info-section .prodcut-item .product-detail .product-footer .product-img-mobile {
      margin-right: 30px !important;
    }

    .learn-filter-section .radio-list .radio-item .call-detail .call-content h3 {
      font-size: 16px !important;
    }

    .product-info-section .prodcut-item .product-detail .product-name h2 {
      font-size: 20px !important;
    }

    .product-info-section .prodcut-item .product-detail .product-desc h4 {
      font-size: 16px !important;
    }

  }
 
}

@media (max-width: 767px) {

  .dollars {
    input {
      padding-left: 18px !important;
    }
    &::after {
      font-size: 12px !important;
      left: 20px !important;
    }
  }

  .text-readmore {
    display: inline-block;
    color: #003B8E !important;
    font-size: 16px; 
    font-family: $roboto; 
  }

  .modal-backdrop {
    background-color: transparent !important;
    opacity: 1;
  }
  

  .learn-more {
    display: block;
    color: #003B8E !important;
    font-size: 16px;
    font-family: $roboto;
  }
  
  .collapse.open {
    display: none;
  } 

  .collapse.show {
    display: block !important;
  }

  .search-bar {
    display: none;
  }

  .navbar-toggler {
    display: none;
  }

  .modal-custom {
    .modal-dialog {
      margin: 100px auto 0 auto;
      border-radius: 0;
      overflow: hidden;
      max-width: unset;

      .modal-content {
        border-radius: 0;

        
        .modal-body {
          padding-bottom: 80px;
          max-height: calc(100vh - 170px);
          min-height: calc(100vh - 170px);
          overflow-y: scroll;
        }

        .modal-footer{
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          width: 100%;
          background-color: #fff;
        }
      }
    }
  }
 
  .header {
    .navbar {
      padding: 8px 0;
      z-index: 999;
      height: 56px;


      // .row-100 {
      //   width: 100%;
      //   margin: 0;

      //   .col-12 {
      //     padding: 0 15px;
      //   }
       
      // }

      .col-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;

        .col-30 {
          flex: 0 0 20%;
          max-width: 20%;
        }

        .col-70 {
          flex: 0 0 80%;
          max-width: 80%;
        }
      }

      .mobile-header {
        .col-30 {
          flex: 0 0 100%;
          max-width: 100%;
          text-align: center;
        }

        .col-70 {
          flex: 0 0 0%;
          max-width: 0%;
        }
      }

      .navbar-brand {
        width: 120px;
        height: auto;
        margin: 0 auto;
        padding: 0px;
        border: 0 !important;

        img {
          width: 100%;
        }
      }

      .collapse1 {
        padding: 10px 0;

        .navbar-nav {

          .nav-item {
            padding: 0 20px;

            .nav-link {
              color: #ffffff;
              font-size: 16px;
              line-height: 26px;
              padding: 8px 12px;
              font-weight: 500;
              white-space: nowrap;

              &:hover {
                color: #ffffff;
              }
            }
          }

          .nav-btn {

            .nav-link {
              background-color: #ed5c37;
              color: #ffffff;
              border-radius: 4px;
              transition: none;

              &:hover {
                background-color: #ffffff;
                color: #ed5c37;
              }
            }
          }
        }
      }

      
    }
  }

  .header.header-2 {

    .navbar  {
      height: 100px;
      padding: 0 15px;
      
      .navbar-brand {
        margin: 0 0 8px 0;
        
      }
    }

    .search-bar  {
      display: block;

      .form-control {
        background-color: #F4F6FA;
        border: 1px solid #414141;
        border-radius: 5px;
      }

      .input-group-text {
        background-color: transparent;
      }

      .search-div {
        display: none;
      }
    }

    .mobile-header {
      flex-direction: column;
      .col-30 {
        flex: 0 0 100%;
        max-width: 100%;
        text-align: center;
      }

      .col-70 {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }
  } 
  

  #cd-shadow-layer {
    position: fixed;
    min-height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    z-index: 2;
    display: none;
    z-index: 99999;
  }

  .sidenav-new-menu {
    height: 100%;
    min-height: 100vh;
    width: 300px;
    position: fixed;
    z-index: 1;
    right: -300px;
    top: 0;
    overflow-y: auto;
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 999999;
    background-color: #000000;
    padding: 40px 0px 20px 0px !important;
    flex-basis: auto;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .width-menu {
    width: 300px;
    display: block !important;
    right: 0px;
  }

  .closebtn {
    display: block !important;
    color: #ffffff;
    text-decoration: none;
  }

  .closebtn:hover {
    display: block;
    color: #ffffff;
    text-decoration: none;
  }

  .sidenav-new-menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    display: block;
  }


  // middle section

  .middle-section {
    padding-top: 56px;

    .find-section {
      padding: 78px 0 50px 0;

      .content {
        padding: 0 10px;

        h1 {
          font-size: 30px;
          line-height: 37px;
          font-weight: 600;
          text-align: center;
          margin-bottom: 10px;
        }

        h2 {
          font-size: 16px;
          line-height: 27px;
          color: #000000;
          text-align: center;
          margin-bottom: 15px;
        }

        .search-bar {
          display: block;

          max-width: 285px;
          width: 100%;
          margin: 0 auto;

          .form-control {
            height: 50px;
            background-color: #F4F6FA;
            border-color: #414141;
            font-size: 18px;
            line-height: 22px;
            color: #707070;
            border-radius: 5px;
          }

          .input-group-text {
            height: 50px;
            i {
              color: #707070; 
            }
          }

          .input-group-append  {
            display: none;
          }
        }
      }
    }

    .popular-guid-section {
      padding: 20px 0 15px 0;
      .heading {
        h3 {
          font-size: 18px;
          line-height: 22px;
        }
      }

      .owl-theme {
        padding: 0;
      }

      .owl-nav.disabled {
        display: none !important;
      }

      .popular-box {
        .popular-img {
          height: 108px;
          width: 108px;
          min-width: 108px;
          margin-bottom: 20px;

          img {
            width: 70px;
            height: 70px;
          }
        }

        h3 {
          font-size: 16px;
          line-height: 18px;
          color: #000;
          margin-bottom: 6px;
        }

        p {
          font-size: 12px;
          line-height: 16px;
          margin-bottom: 0;
        }
      }
    }

    .makeup-section {

      .makeup-inner-div {
        padding: 15px 20px 18px 20px;

        h3 {
          font-size: 18px;
          line-height: 24px;
          margin-bottom: 10px;
        }
      }

      .search-bar {
        display: block;
        margin-left: 0;
        background-color: transparent;

        .search-div {
          display: none;
        }

        .search-icon {
          display: block;
        }

        .form-control {
          padding-left: 50px;
          background-color: #F4F6FA;
          color: #414141;
          border-radius: 5px;
        }
      }
    }

    .feature-section {
      padding: 30px 0 0 0;
      
      .heading {
        h2 {
          font-size: 18px;
          line-height: 22px;
          margin-bottom: 5px;
        }
  
        P {
          font-size: 16px;
          line-height: 22px;
        }
      }
     

      .featured-item {
        
        .featured-img {
          width: 90px;
          height: 90px;

          img {
            height: 100%;
            object-fit: cover;
          }

          border: 0 !important;
        }
    
        .featured-content {
          width: calc(100% - 90px);
          padding: 8px 7px 8px 10px;
          min-height: 90px;
          border: 0 !important;
          display: flex;
          align-items: flex-start;
          justify-content: center;
          flex-direction: column;

          h3 {
            font-size: 18px;
            margin-bottom: 12px;
            line-height: 18px;
          }

          ul {
            margin-left: -5px;

            li {
              padding: 0 4px !important;
              line-height: 14px;
              margin-bottom: 5px;
              float: left;

              a {
                font-size: 14px;
                line-height: 18px;

                h4 {
                  font-weight: 400;
                  font-size: 14px;
                  line-height: 18px;
                }
                
              }

              &:last-child {
                display: none;
              }

              &:nth-last-child(2) {
                border: 0;
              }
           
            }
          }
        }
      }
    }

    .best-deal-section {
      .heading {
        h2 {
          font-size: 18px;
          line-height: 22px;
        }

        p {
          font-size: 16px;
          line-height: 22px;
        }
      }

      .sub-heading {
        h3 {
          font-size: 18px;
          line-height: 22px;
        }

        a {
          font-size: 18px;
          line-height: 22px;
        }
      }

      .owl-theme {
        padding: 0;
      }

      .owl-nav.disabled {
        display: none !important;
      }

      .product-item {
        .product-price {
          h4 {
            font-size: 16px;
            line-height: 19px;
          }
        }

        .product-img {
          img {
            width: 120px;
            height: 120px;
          }
        }

        .product-review {
          .rating {
             i {
              font-size: 12px;
             }
          }

          a {
            font-size: 12px;
          }
        }

        .product-name {
          min-height: 38px;

          h3 {
            font-size: 16px;
            line-height: 19px;
          }
        }
      }
    }

    // 

    .product-details {
      padding: 65px 0 0 0;

      .content {
        h1 {
          font-size: 28px;
          line-height: 42px;
          font-weight: 600;
          margin-bottom: 25px;
        }

        .profile-owner {
          margin-bottom: 20px;
        }

      }

      .content-product {
        margin-bottom: 30px;
        .readmore-text {
          &::before {
            display: none;
          }
        }
        p {
          padding-left: 0;
          float: none;
          font-size: 18px;
          line-height: 27px;
          margin-bottom: 12px;

          // &::before {
          //   left: 0;
          //   margin-right: 20px;
          //   position: relative;
          //   display: inline-block;
          //   bottom: 0;
          // }

          span {
            &::before {
            left: 3px;
            margin-right: 20px;
            position: relative;
            display: inline-block;
            top: 0px;
            
            }
          }

          img.img-detail {
            width: 100%;
            height: auto;
            float: none;
            margin-left: 0;
            margin-bottom: 22px;
          }
        }
      }

    }


    .learn-filter-section {
      padding: 27px 0;

      .heading {
        h2 {
          font-size: 18px;
          line-height: 24px;
        }
      }

      .profile-owner {
        margin-top: 15px;
        margin-bottom: 15px;
      }

      .content{
        h2 {
          font-size: 24px;
          line-height: 36px;
          margin-bottom: 12px;
        }
      }

      .radio-list {
        .radio-item {

          .custom-control {
            padding: 0;

            .custom-control-label {
              &::after{
                left: 20px;
                top: 15px;
              }

              &::before{
                left: 20px;
                top: 15px;
              }
            }
          }

          .call-detail {
            display: flex;
            flex-direction: column;
           

            .btn-open {
              position: absolute;
              right: 15px;
              top: 0px;
              font-size: 30px;
              box-shadow: none;
              display: block;
              cursor: pointer;
            }

            .call-content {
              width: 100%;
              padding: 17px 20px 17px 20px;
              min-height: unset;

              h3 {
                padding-left: 40px;
                font-size: 20px;
                margin-bottom: 0;
                padding-right: 20px;
              }

              p{
                font-size: 18px;
                line-height: 27px;
              }

            }

            .img-content {
              img {
               display: block;
               margin-bottom: 14px;
               border-radius: 4px;
              }
           }

           .selected-div {
              display: block;
            }

            .img-content {
              display: none;
              margin-top: 20px; 
            }

            .call-img {
              width: 100%;
              display: none;
            }         
          }

          .no-img {
            h3 {
              margin-bottom: 0 !important;
            }

            p {
              display: none;
            }
          }
        }
      }

      .radio-action {
        display: flex;
        flex-direction: column;

        .left-conetnt {
          width: 100%;

          .btn {
            width: 100%;
            max-width: unset;
          }
        }

        .right-conetnt {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 20px;

          .btn {
            box-shadow: none;
          }
        }
      }

      
    }

    .product-info-section {
      padding: 33px 0 30px 0;

      .content {
        .result {
          p {
            font-size: 16px;
            line-height: 20px;
          }
        }

        h1 {
          font-size: 24px;
          line-height: 36px;
          font-weight: 600;
        }

        .filter-div ul li {
          margin-right: 5px;

          &:last-child {
            margin-right: 0;
          }
          
        .btn {
          font-size: 12px;
          line-height: 20px;
          white-space: nowrap;
          height: 35px;
          padding: 10px 8px;

          i {
            font-size: 16px;
          }
        }

        input {
          font-size: 12px;
          padding: 10px 5px;
          height: 35px;
        }

        .btn-go {
          width: 55px;
        }
      }

      }    

      .prodcut-item {
        padding: 20px 0;

        h1 {
          font-size: 20px;
          line-height: 24px;
        }

       
        .product-img {
          display: none;
          max-width: 115px;
          height: auto;
          margin-bottom: 18px;

          img {
            width: 100%;
          }
        }

        .product-detail {

          .product-name {
            h2 {
              font-size: 24px;
              line-height: 30px;
            }

            .product-review {
              .rating {
                i {
                  color: #F8DA48 ;
                }
              }

              a {
                font-size: 12px;  
              }
            }

          }

         

          .product-desc {
            order: 2;
            p {
              font-size: 16px;
              line-height: 22px;
            }
          }

          .product-footer {
            order: 1;
            display: flex;
            align-items: center;
            flex-direction: row;
            margin-bottom: 18px;

            .product-img-mobile {
              max-width: 115px;
              height: auto;
              display: block;
              margin-right: 40px;
    
              img {
                width: 100%;
              }
            }

            .product-btns {
              display: flex;
              flex-direction: column;

              .btn {
                margin-right: 0;
              }
            }
          }
        }
      }

      .show-more {
        a.btn-show-more {
          font-size: 16px;
          box-shadow: none;

          i {
            font-size: 20px;
          }
        }
      }
    }

    .best-values-section {
      padding: 20px 0 40px 0;

      .content {
        h2 {
          font-size: 24px;
          line-height: 36px;
          color: #003B8E; 
        }
      }

      .table {
        tr {
          th {
            font-size: 16px;

            h3 {
              font-size: 16px;
            }
          }

          td {
            font-size: 16px;
          }
        }
      }
    }
    
    .page-tile-section {
      padding-top: 60px;

      p {
        font-size: 16px;
        line-height: 27px;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        display: -webkit-box;
        max-width: 96%;
      }

      a {
        font-size: 16px;
        line-height: 27px;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        i {
          position: absolute;
          top: 0;
          right: 10px;
        }
        
      }
    }

    .product-details.collapse.show {
      padding-top: 30px !important;
    }

  }

  .footer-section {
    padding: 22px 0;

    .quicklink {
      ul {
        display: inline-block;

        li {
          a {
            text-align: left;
            font-size: 16px;
            line-height: 20px;
            margin-bottom: 17px;
          }

          &:nth-last-child(1) {
            width: auto;
            margin-right: 20px;
          }

          &:nth-last-child(2) {
            width: auto;
            margin-right: 20px;
          }
        }
      }
    }

    .footer-text {
      display: flex;
      flex-direction: column-reverse;
      p {
        margin-bottom: 0;
        text-align: left;
        line-height: 25px;
      }
    }

    .affilate-link {
      margin-bottom: 20px;

      a {
        text-align: left;
      }
    }
  }
}

@media (min-width: 997px) and (max-width: 1200px) {

 .middle-section {
  .feature-section {
    .featured-item {
    
      .featured-img {
        width: 300px;
        img {
          height: 100%;
          object-fit: cover;
        }
      }
  
      .featured-content {
        width: calc(100% - 300px);
        h3 {
          margin-bottom: 10px;
        }

        ul {
          li {
            padding: 0 10px;

           a {
            font-size: 16px;
            line-height: 20px;
           

            h4 {
              font-size: 16px;
              line-height: 20px;
            }

           

           }

           &:nth-last-child(2) {
            border: 0;
          }

           &:nth-last-child(1) {
            display: none;
          }
          }
        }
      }
    }
    
  }

  .learn-filter-section .radio-list .radio-item .call-detail .call-img img {
    min-height: 140px;
  }
 }
}

@media (min-width: 768px) and (max-width: 996px) {

  .nav-center {
    margin-left: 50px;
  }

  .middle-section {
   .feature-section {
     .featured-item {
     
       .featured-img {
         width: 200px;
         img {
           height: 100%;
           object-fit: cover;
         }
       }
   
       .featured-content {
         width: calc(100% - 200px);
         ul {
           li {
           a {
            font-size: 14px;
            line-height: 20px;

            h4 {
              font-size: 14px;
              line-height: 20px;
            }

           }

           &:nth-last-child(2) {
            border: 0;
          }
          
           &:nth-last-child(1) {
            display: none;
          }
 
          
           }
         }
       }
     }
   }
   .owl-nav.disabled {
    display: none !important;
  }
  }
 }

/* Portrait */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .nav-center .search-bar {
    max-width: 300px;
    margin-left: 50px;
  }

  .learn-filter-section .radio-list .radio-item .call-detail .call-img img {
    min-height: 160px;
  }

}

/* Landscape */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  
  .header {

    .navbar {

      .collapse1 {

        .navbar-nav {

          .nav-item {

            .nav-link {
              font-size: 12px;
              line-height: 22x;
              padding: 8px 10px;
              font-weight: 500;
            }
          }
        }
      }
    }
  }

}

/* ----------- iPad Pro ----------- */

/* Portrait and Landscape */

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
}

/* Portrait */

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
  
  .nav-center .search-bar {
    max-width: 800px;
    margin-left: 50px;
  }

}
