@import url("../css/bootstrap.min.css");
@import url("../fonts/feather/feather.css");
@import url("font-awesome.min.css");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("../css/animate.css");
body {
  background-color: #ffffff;
  font-family: "Montserrat", sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

p {
  font-size: 18px;
  line-height: 22px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #003B8E;
}

h1 {
  font-size: 55px;
  line-height: 67px;
  font-weight: 700;
}

h2 {
  font-size: 36px;
  line-height: 48px;
  font-weight: 700;
}

h3 {
  font-size: 30px;
  line-height: 37px;
  font-weight: 700;
}

h4 {
  font-size: 27px;
  line-height: 29px;
  font-weight: 700;
}

h5 {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

h6 {
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.4s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  color: #000;
}

a:focus {
  outline: none;
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

fieldset {
  border: 0 none;
  margin: 0 auto;
  padding: 0;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.btn {
  font-family: "Roboto" !important;
}

/*   normalize  */
/* font family added */
@media (max-width: 1230px) {
  .container {
    max-width: 100%;
  }
}

@media (min-width: 1260px) {
  .container {
    max-width: 1260px;
  }
}

/* Use the variables */
/* end the variables */
.btn-custom.btn-primary {
  height: 53px;
  background: #41add4;
  background: linear-gradient(114deg, #41add4 0%, #1763a7 100%) !important;
  color: #fff;
  font-size: 18px;
  line-height: 26px;
  width: 100%;
  max-width: 200px;
  display: block;
  min-width: 200px;
  border-color: transparent;
  border-radius: 0 3px 3px 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 10px 30px rgba(0, 59, 142, 0.5);
          box-shadow: 0 10px 30px rgba(0, 59, 142, 0.5);
}

.btn-custom.btn-primary:hover {
  background: #2a6f85;
  background: linear-gradient(111deg, #2a6f85 0%, #09253b 100%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-color: #fff !important;
}

.btn-custom.btn-primary:active {
  background: #2a6f85;
  background: linear-gradient(111deg, #2a6f85 0%, #09253b 100%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-color: #fff !important;
}

/*###########################################################################
############################## header section ###############################*/
.fixed-top {
  background-color: #000000 !important;
  -webkit-box-shadow: 0 7px 12px rgba(0, 0, 0, 0.02);
          box-shadow: 0 7px 12px rgba(0, 0, 0, 0.02);
  position: fixed !important;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  height: 70px;
  padding: 8px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.header {
  height: 82px;
  position: relative;
}

.header .navbar {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 82px;
  background: #47b8da;
  background: -webkit-gradient(linear, left top, right top, from(#47b8da), to(#003b8e));
  background: linear-gradient(90deg, #47b8da 0%, #003b8e 100%);
  -webkit-box-shadow: 0 7px 12px rgba(0, 0, 0, 0.02);
          box-shadow: 0 7px 12px rgba(0, 0, 0, 0.02);
  z-index: 999;
  padding: 8px 0;
  /* border-bottom: 1px solid rgba(236, 236, 236, 0.6); */
}

.header .navbar .col-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.header .navbar .col-header .col-30 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  max-width: 20%;
}

.header .navbar .col-header .col-70 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 80%;
          flex: 0 0 80%;
  max-width: 80%;
}

.header .navbar .navbar-brand {
  width: 188px;
  height: au  to;
  display: block;
  padding: 7px 14px;
  border: 1px solid transparent;
}

.header .navbar .navbar-brand:hover {
  border: 1px solid #fff;
}

.header .navbar .navbar-brand img {
  width: 100%;
}

.header .navbar .navbar-brand .logo-1 {
  display: block;
}

.header .navbar .navbar-brand .logo-2 {
  display: none;
}

.header .navbar .navbar-brand:active .logo-1 {
  display: none;
}

.header .navbar .navbar-brand:active .logo-2 {
  display: block;
}

.header .navbar .navbar-toggler {
  color: #ffffff;
  padding: 0;
  outline: 0;
  border: 0;
}

.header .navbar .navbar-toggler .navbar-toggler-icon {
  background-color: transparent;
  background-image: url("../../assets/images/menubar.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 35px;
  width: 35px;
  border: 0;
}

.header .navbar .navbar-toggler {
  position: absolute;
  right: 15px;
  top: -17px;
  border: 0;
}

.header .navbar .collapse1 {
  height: 100%;
  height: 100%;
}

.header .navbar .collapse1 .navbar-nav .nav-item .nav-link {
  color: #ffffff;
  font-size: 18px;
  line-height: 22px;
  padding: 10px 10px;
  font-weight: 500;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  border: 1px solid transparent;
  height: 43px;
}

.header .navbar .collapse1 .navbar-nav .nav-item .nav-link:hover {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  color: #EBEBEB;
  border: 1px solid #fff;
}

.header .navbar .collapse1 .navbar-nav .nav-item .nav-link:active {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  color: #EBEBEB;
  border: 1px solid #fff;
}

.header .navbar .collapse1 .navbar-nav .nav-item .nav-link.active {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  color: #ffffff;
}

.header .navbar .collapse1 .navbar-nav .nav-btn .nav-link {
  font-size: 16px;
  min-height: 30px;
  line-height: 22px;
  border-radius: 4px;
  padding: 8px 20px;
  color: #ffffff;
}

.sidenav-new-menu .closebtn {
  display: none;
}

.sidenav-new-menu .closebtn img {
  width: 20px;
  height: 20px;
}

.nav-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-center .search-bar {
  max-width: 814px;
  width: 100%;
  border-radius: 3px;
  position: relative;
}

.nav-center .search-bar .search-div {
  padding: 0 !important;
  border-radius: 0 3px 3px 0;
  background: #41add4;
  background: linear-gradient(114deg, #41add4 0%, #1763a7 100%);
}

.nav-center .search-bar .input-group-prepend {
  margin: 0;
}

.nav-center .search-bar .search-icon {
  position: absolute;
  left: 2px !important;
  top: 2px;
  z-index: 9;
  height: 36px !important;
  width: 36px;
  border-color: transparent;
}

.nav-center .search-bar .input-group-text {
  background-color: transparent;
  border: 0;
  height: 40px;
  border-radius: 0 3px 3px 0;
  background-color: #fff;
}

.nav-center .search-bar .input-group-text i {
  font-size: 24px;
  color: #474645;
}

.nav-center .search-bar .input-group-text .btn {
  height: 40px;
  border-radius: 0;
}

.nav-center .search-bar .input-group-text .btn-search {
  background: #41add4;
  background: linear-gradient(114deg, #41add4 0%, #1763a7 100%);
  color: #fff;
  font-size: 18px;
  line-height: 26px;
  width: 100%;
  max-width: 122px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 122px;
  border-color: transparent;
  border-radius: 0 3px 3px 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border: 0;
}

.nav-center .search-bar .input-group-text .btn-search:hover {
  background: #2a6f85;
  background: linear-gradient(111deg, #2a6f85 0%, #09253b 100%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border: 1px solid #fff;
}

.nav-center .search-bar .input-group-text .btn-search:active {
  background: #2a6f85;
  background: linear-gradient(111deg, #2a6f85 0%, #09253b 100%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border: 1px solid #fff;
}

.nav-center .search-bar .form-control {
  height: 40px;
  border-color: #fff;
  font-size: 16px;
  line-height: 28px;
  font-family: "Roboto";
  -webkit-box-shadow: none;
          box-shadow: none;
  padding-left: 50px;
  outline: none;
  border-radius: 3px 0 0 3px;
  margin-right: -1px;
  z-index: 2;
  position: relative;
}

.nav-center .search-bar .form-control:focus {
  border-color: #003B8E;
}

.nav-center .search-bar .form-control:focus::-webkit-input-placeholder {
  opacity: 0;
}

.nav-center .search-bar .form-control:focus:-ms-input-placeholder {
  opacity: 0;
}

.nav-center .search-bar .form-control:focus::-ms-input-placeholder {
  opacity: 0;
}

.nav-center .search-bar .form-control:focus::placeholder {
  opacity: 0;
}

.nav-center .collapse1 {
  max-width: 264px;
}

.nav-center .collapse1 .navbar-nav {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  min-width: 212px;
}

/*############################## Home section ###############################*/
.form-group {
  margin-bottom: 20px;
}

.form-group label {
  font-size: 18px;
  color: #181818;
  letter-spacing: 0;
  font-weight: 400;
  margin-bottom: 10px;
}

.form-group .form-control {
  border: 1px solid #c7c7c7;
  height: 50px;
  background-color: #ffffff;
  border-radius: 0;
  font-size: 18px;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0;
}

.form-group .form-control:focus {
  border-color: #1d61f6 !important;
  color: #000000;
}

.input-group .input-group-addon {
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 99;
}

.input-group .input-group-addon a {
  text-decoration: none;
  color: #727272;
}

.input-group .input-group-addon i {
  font-size: 20px;
}

.input-group .form-control {
  padding-right: 40px;
}

input.form-control:focus::-webkit-input-placeholder {
  opacity: 0;
}

input.form-control:focus:-ms-input-placeholder {
  opacity: 0;
}

input.form-control:focus::-ms-input-placeholder {
  opacity: 0;
}

input.form-control:focus::placeholder {
  opacity: 0;
}

/*  middle section start here */
.middle-section {
  padding-top: 82px;
}

.middle-section .find-section {
  padding: 160px 0 70px 0;
}

.middle-section .find-section .content h1 {
  margin-bottom: 0;
}

.middle-section .find-section .content h2 {
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  font-weight: 300;
  margin-bottom: 20px;
}

.middle-section .find-section .content .search-bar {
  max-width: 709px;
  width: 100%;
  background-color: #fff;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
}

.middle-section .find-section .content .search-bar .search-div {
  padding: 0 !important;
}

.middle-section .find-section .content .search-bar .search-icon {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9;
}

.middle-section .find-section .content .search-bar .input-group-text {
  background-color: transparent;
  border: 0;
  height: 40px;
  border-radius: 0 3px 3px 0;
}

.middle-section .find-section .content .search-bar .input-group-text i {
  font-size: 24px;
  color: #474645;
}

.middle-section .find-section .content .search-bar .input-group-text .btn {
  height: 40px;
  border-radius: 0;
}

.middle-section .find-section .content .search-bar .input-group-text .btn-search {
  background: #41add4;
  background: linear-gradient(114deg, #41add4 0%, #1763a7 100%);
  color: #fff;
  font-size: 18px;
  line-height: 26px;
  width: 100%;
  max-width: 122px;
  display: block;
  min-width: 122px;
  border: 0;
  border-radius: 0 3px 3px 0;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.middle-section .find-section .content .search-bar .input-group-text .btn-search:hover {
  background: #2a6f85;
  background: linear-gradient(111deg, #2a6f85 0%, #09253b 100%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.middle-section .find-section .content .search-bar .form-control {
  height: 40px;
  border-color: #003B8E;
  font-size: 16px;
  line-height: 28px;
  font-family: "Roboto";
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  padding-left: 50px;
  border-radius: 3px 0 0 3px;
}

.middle-section .find-section .content .search-bar .form-control:focus::-webkit-input-placeholder {
  opacity: 0;
}

.middle-section .find-section .content .search-bar .form-control:focus:-ms-input-placeholder {
  opacity: 0;
}

.middle-section .find-section .content .search-bar .form-control:focus::-ms-input-placeholder {
  opacity: 0;
}

.middle-section .find-section .content .search-bar .form-control:focus::placeholder {
  opacity: 0;
}

.middle-section .popular-guid-section {
  padding: 30px 0 30px 0;
}

.middle-section .popular-guid-section .heading h3 {
  margin-bottom: 20px;
}

.middle-section .popular-guid-section .popular-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.middle-section .popular-guid-section .popular-box .popular-img {
  height: 160px;
  width: 160px;
  min-width: 160px;
  background-color: #E3F5FA;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  border: 1px solid #E3F5FA;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.middle-section .popular-guid-section .popular-box .popular-img img {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}

.middle-section .popular-guid-section .popular-box .popular-img:hover {
  border: 1px solid #BFBFBF;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.middle-section .popular-guid-section .popular-box h3 {
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 10px;
  font-family: "Roboto";
  color: #000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.middle-section .popular-guid-section .popular-box h3 a {
  color: #000;
}

.middle-section .popular-guid-section .popular-box p {
  font-size: 16px;
  line-height: 18px;
  font-family: "Roboto";
  color: #000;
}

.middle-section .popular-guid-section .popular-box:hover h3 {
  text-decoration: underline;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.middle-section .popular-guid-section .popular-box:hover .popular-img {
  border: 1px solid #BFBFBF;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.middle-section .popular-guid-section .owl-theme {
  padding: 0 30px;
}

.middle-section .popular-guid-section .owl-theme .owl-nav {
  position: absolute;
  top: calc(50% - 50px);
  right: 0;
  left: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.middle-section .popular-guid-section .owl-theme .owl-nav .owl-prev {
  left: -55px;
  position: absolute;
}

.middle-section .popular-guid-section .owl-theme .owl-nav .owl-next {
  right: -55px;
  position: absolute;
}

.middle-section .popular-guid-section .owl-theme .owl-nav button {
  height: 50px;
  width: 50px;
  border: 2px solid #F1F9FF;
  background-color: #FAFAFA;
  border-radius: 10px;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #2699FB;
  font-weight: 600;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.middle-section .popular-guid-section .owl-theme .owl-nav button i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
}

.middle-section .popular-guid-section .owl-theme .owl-nav button:hover {
  border-color: #2699FB;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.middle-section .makeup-section {
  padding-top: 16px;
}

.middle-section .makeup-section .makeup-inner-div {
  background-color: rgba(0, 59, 142, 0.68);
  padding: 36px 80px;
}

.middle-section .makeup-section h3 {
  color: #fff;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  margin: 5px 0;
}

.middle-section .makeup-section .search-bar {
  margin-left: 20px;
  width: calc(100% - 20px);
  background-color: #fff;
  border-radius: 3px;
  position: relative;
}

.middle-section .makeup-section .search-bar .search-div {
  padding: 0 !important;
}

.middle-section .makeup-section .search-bar .search-icon {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9;
  display: none;
}

.middle-section .makeup-section .search-bar .input-group-text {
  background-color: transparent;
  border: 0;
  height: 40px;
  border-radius: 0 3px 3px 0;
}

.middle-section .makeup-section .search-bar .input-group-text i {
  font-size: 24px;
  color: #474645;
}

.middle-section .makeup-section .search-bar .input-group-text .btn {
  height: 40px;
  border-radius: 0;
}

.middle-section .makeup-section .search-bar .input-group-text .btn-search {
  background: #41add4;
  background: linear-gradient(114deg, #41add4 0%, #1763a7 100%);
  color: #fff;
  font-size: 18px;
  line-height: 26px;
  width: 100%;
  max-width: 122px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 122px;
  border-radius: 0 3px 3px 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.middle-section .makeup-section .search-bar .input-group-text .btn-search:hover {
  background: #2a6f85;
  background: linear-gradient(111deg, #2a6f85 0%, #09253b 100%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border: 1px solid #fff;
}

.middle-section .makeup-section .search-bar .input-group-text .btn-search:active {
  background: #2a6f85;
  background: linear-gradient(111deg, #2a6f85 0%, #09253b 100%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-color: #fff;
}

.middle-section .makeup-section .search-bar .form-control {
  height: 40px;
  border-color: #003B8E;
  font-size: 16px;
  line-height: 28px;
  font-family: "Roboto";
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  border-radius: 3px 0 0 3px;
  z-index: 2;
  position: relative;
}

.middle-section .makeup-section .search-bar .form-control:focus::-webkit-input-placeholder {
  opacity: 0;
}

.middle-section .makeup-section .search-bar .form-control:focus:-ms-input-placeholder {
  opacity: 0;
}

.middle-section .makeup-section .search-bar .form-control:focus::-ms-input-placeholder {
  opacity: 0;
}

.middle-section .makeup-section .search-bar .form-control:focus::placeholder {
  opacity: 0;
}

.middle-section .feature-section {
  padding: 60px 0;
}

.middle-section .feature-section .heading h2 {
  color: #003B8E;
  margin-bottom: 10px;
  font-size: 30px;
  line-height: 37px;
}

.middle-section .feature-section .heading p {
  font-size: 18px;
  line-height: 22px;
  color: #000;
  margin-bottom: 20px;
  font-family: "Roboto";
}

.middle-section .feature-section .featured-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 20px;
  width: 100%;
  border: 2px solid transparent;
}

.middle-section .feature-section .featured-item .featured-img {
  width: 400px;
  height: 116px;
  border: 2px solid transparent;
  overflow: hidden;
}

.middle-section .feature-section .featured-item .featured-content {
  width: calc(100% - 400px);
  background-color: rgba(181, 206, 255, 0.1);
  padding: 19px 21px;
  height: 100%;
  min-height: 116px;
  border: 2px solid transparent;
  margin-left: -2px;
}

.middle-section .feature-section .featured-item .featured-content a {
  text-decoration: none;
}

.middle-section .feature-section .featured-item .featured-content h3 {
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 20px;
  color: #000;
  font-family: "Roboto";
}

.middle-section .feature-section .featured-item .featured-content ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.middle-section .feature-section .featured-item .featured-content ul li {
  display: inline-block;
  padding: 0 10px;
  font-family: "Roboto";
  border-right: 1px solid #000;
}

.middle-section .feature-section .featured-item .featured-content ul li a {
  font-size: 18px;
  color: #000;
  line-height: 20px;
  text-decoration: underline;
}

.middle-section .feature-section .featured-item .featured-content ul li a h4 {
  font-size: 18px;
  color: #000;
  line-height: 20px;
  font-weight: 400;
  margin-bottom: 0;
}

.middle-section .feature-section .featured-item .featured-content ul li a:hover {
  font-weight: 600;
  color: #000;
  border-bottom: 1px solid;
}

.middle-section .feature-section .featured-item .featured-content ul li a:hover h4 {
  font-weight: 600;
}

.middle-section .feature-section .featured-item .featured-content ul li:first-child {
  padding-left: 0;
}

.middle-section .feature-section .featured-item .featured-content ul li:last-child {
  border-right: 0;
}

.middle-section .feature-section .featured-item:hover .featured-img {
  border-color: #707070;
}

.middle-section .feature-section .featured-item:hover .featured-content {
  border-color: #707070;
  border-left-color: transparent !important;
}

.middle-section .best-deal-section {
  padding: 20px 0 20px 0;
}

.middle-section .best-deal-section .heading h2 {
  color: #003B8E;
  margin-bottom: 10px;
  font-size: 30px;
  line-height: 37px;
  margin-bottom: 10px;
}

.middle-section .best-deal-section .heading p {
  font-size: 18px;
  line-height: 22px;
  color: #000;
  font-family: "Roboto";
  margin-bottom: 20px;
}

.middle-section .best-deal-section .sub-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 30px;
}

.middle-section .best-deal-section .sub-heading h3 {
  color: #003B8E;
  margin-bottom: 10px;
  font-size: 30px;
  line-height: 37px;
  margin-bottom: 0px;
}

.middle-section .best-deal-section .sub-heading a {
  font-size: 18px;
  line-height: 22px;
  color: #000;
  margin-bottom: 0px;
  margin-left: 10px;
  font-weight: 300;
  border-left: 1px solid #000;
  padding-left: 10px;
}

.middle-section .best-deal-section .sub-heading a:hover {
  font-weight: 700;
}

.middle-section .best-deal-section .sub-heading a:focus {
  font-weight: 700;
}

.middle-section .best-deal-section .product-item {
  text-align: center;
  max-width: 190px;
  width: 100%;
}

.middle-section .best-deal-section .product-item .product-price h4 {
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 26px;
}

.middle-section .best-deal-section .product-item .product-img {
  margin-bottom: 26px;
}

.middle-section .best-deal-section .product-item .product-img img {
  width: 110px;
  height: 112px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 auto;
}

.middle-section .best-deal-section .product-item .product-review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 11px;
}

.middle-section .best-deal-section .product-item .product-review .rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.middle-section .best-deal-section .product-item .product-review .rating i {
  color: #F89A48;
  font-size: 17px;
  margin-right: 3px;
}

.middle-section .best-deal-section .product-item .product-review a {
  color: #414141;
  font-size: 14px;
  line-height: 18px;
  margin-left: 5px;
  font-family: "Roboto";
}

.middle-section .best-deal-section .product-item .product-name {
  min-height: 56px;
  margin-bottom: 10px;
}

.middle-section .best-deal-section .product-item .product-name h3 {
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  font-weight: 400;
  font-family: "Roboto";
}

.middle-section .best-deal-section .product-item .product-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.middle-section .best-deal-section .product-item .product-btns .btn {
  width: 100%;
  font-size: 16px;
  line-height: 19px;
  height: 40px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.middle-section .best-deal-section .product-item .product-btns .btn:last-child {
  margin-bottom: 0;
}

.middle-section .best-deal-section .product-item .product-btns .btn-primary {
  background-color: rgba(248, 154, 72, 0.8);
  color: #000;
  border-color: rgba(248, 154, 72, 0.8);
}

.middle-section .best-deal-section .product-item .product-btns .btn-primary:hover {
  background-color: #F89A48;
  border-color: #979797;
}

.middle-section .best-deal-section .product-item .product-btns .btn-outline-primary {
  background-color: #fff;
  color: #000;
  font-weight: 400;
  border-color: #F89A48;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.middle-section .best-deal-section .product-item .product-btns .btn-outline-primary:hover {
  background-color: #FCF1E7;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.middle-section .best-deal-section .product-item .product-btns .btn-outline-primary:active {
  text-decoration: underline;
}

.middle-section .best-deal-section .owl-theme {
  padding: 0 30px;
}

.middle-section .best-deal-section .owl-theme .owl-nav {
  position: absolute;
  top: calc(50% - 50px);
  right: 0;
  left: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.middle-section .best-deal-section .owl-theme .owl-nav .owl-prev {
  left: -55px;
  position: absolute;
}

.middle-section .best-deal-section .owl-theme .owl-nav .owl-next {
  right: -55px;
  position: absolute;
}

.middle-section .best-deal-section .owl-theme .owl-nav button {
  height: 50px;
  width: 50px;
  border: 2px solid #F1F9FF;
  background-color: #FAFAFA;
  border-radius: 10px;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #2699FB;
  font-weight: 600;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.middle-section .best-deal-section .owl-theme .owl-nav button i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
}

.middle-section .best-deal-section .owl-theme .owl-nav button:hover {
  border-color: #2699FB;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.middle-section .product-details {
  padding: 80px 0 30px 0;
}

.middle-section .product-details .content h1 {
  font-size: 50px;
  color: #003B8E;
  line-height: 70px;
  margin-bottom: 40px;
}

.middle-section .product-details .content .profile-owner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 30px;
}

.middle-section .product-details .content .profile-owner .img-profile {
  height: 45px;
  width: 45px;
  border-radius: 100%;
  overflow: hidden;
}

.middle-section .product-details .content .profile-owner .profiel-name {
  padding-left: 14px;
  min-height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.middle-section .product-details .content .profile-owner .profiel-name p {
  font-size: 16px;
  line-height: 35px;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 0;
  font-family: "Roboto";
  font-weight: 400;
}

.middle-section .product-details .content-product .img-detail {
  float: right;
  height: 350px;
  width: 525px;
  margin-left: 35px;
}

.middle-section .product-details .content-product p {
  padding-left: 30px;
  position: relative;
  margin-bottom: 6px;
  font-size: 20px;
  font-family: "Roboto";
  line-height: 30px;
}

.middle-section .product-details .content-product p span::before {
  content: '';
  height: 10px;
  width: 10px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  display: block;
  left: 5px;
  position: absolute;
  top: 10px;
}

.middle-section .learn-filter-section {
  background-color: #EFFAFD;
  padding: 32px 0 40px 0;
}

.middle-section .learn-filter-section .heading h2 {
  font-size: 24px;
  line-height: 29px;
  color: #000;
  font-family: "Roboto";
}

.middle-section .learn-filter-section .profile-owner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 30px;
  margin-top: 32px;
}

.middle-section .learn-filter-section .profile-owner .img-profile {
  height: 45px;
  width: 45px;
  border-radius: 100%;
  overflow: hidden;
}

.middle-section .learn-filter-section .profile-owner .profiel-name {
  padding-left: 14px;
  min-height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.middle-section .learn-filter-section .profile-owner .profiel-name p {
  font-size: 18px;
  line-height: 27px;
  color: #003B8E;
  margin-bottom: 0;
  font-family: "Roboto";
  font-weight: 300;
}

.middle-section .learn-filter-section .content {
  margin-bottom: 20px;
}

.middle-section .learn-filter-section .content h2 {
  font-size: 30px;
  line-height: 45px;
  color: #000000;
}

.middle-section .learn-filter-section .content P {
  font-size: 18px;
  line-height: 27px;
  color: #000;
  margin-bottom: 0;
  font-family: "Roboto";
}

.middle-section .learn-filter-section .radio-list .radio-item {
  background-color: #fff;
  -webkit-box-shadow: 0 3px 6px  #BFBFBF;
          box-shadow: 0 3px 6px  #BFBFBF;
  border-radius: 6px;
  width: 100%;
  overflow: hidden;
  margin-bottom: 20px;
}

.middle-section .learn-filter-section .radio-list .radio-item .custom-control {
  width: 100%;
}

.middle-section .learn-filter-section .radio-list .radio-item .custom-control-label {
  width: 100%;
  display: block;
}

.middle-section .learn-filter-section .radio-list .radio-item .custom-control-label::before {
  top: 16px;
  left: -10px;
  height: 25px;
  width: 25px;
}

.middle-section .learn-filter-section .radio-list .radio-item .custom-control-label::after {
  top: 16px;
  left: -10px;
  height: 25px;
  width: 25px;
  background-size: 17px;
  background-position: center;
}

.middle-section .learn-filter-section .radio-list .radio-item .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #fff;
  border-color: #707070;
}

.middle-section .learn-filter-section .radio-list .radio-item .custom-control-input:checked ~ .custom-control-label::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='17' viewBox='0 0 17 17'%3E%3Cg id='Ellipse_12' data-name='Ellipse 12' fill='%23003b8e' stroke='%23707070' stroke-width='0.5'%3E%3Ccircle cx='8.5' cy='8.5' r='8.5' stroke='none'/%3E%3Ccircle cx='8.5' cy='8.5' r='8.25' fill='none'/%3E%3C/g%3E%3C/svg%3E%0A");
}

.middle-section .learn-filter-section .radio-list .radio-item .btn-open {
  display: none;
}

.middle-section .learn-filter-section .radio-list .radio-item .call-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}

.middle-section .learn-filter-section .radio-list .radio-item .call-detail .call-content {
  width: calc(100% - 202px);
  padding: 15px 19px 15px 29px;
  min-height: 110px;
}

.middle-section .learn-filter-section .radio-list .radio-item .call-detail .call-content h3 {
  font-size: 20px;
  line-height: 22px;
  color: #000;
  font-family: "Roboto";
  margin-bottom: 12px;
}

.middle-section .learn-filter-section .radio-list .radio-item .call-detail .call-content P {
  font-size: 16px;
  line-height: 24px;
  color: #000;
  font-family: "Roboto";
  margin-bottom: 0;
}

.middle-section .learn-filter-section .radio-list .radio-item .call-detail .img-content img {
  display: none;
}

.middle-section .learn-filter-section .radio-list .radio-item .call-detail .selected-div {
  display: none;
  margin-top: 10px;
}

.middle-section .learn-filter-section .radio-list .radio-item .call-detail .selected-div .btn-select {
  height: 33px;
  width: 101px;
  border-radius: 0;
  background: #41add4;
  background: linear-gradient(114deg, #41add4 0%, #1763a7 100%);
  color: #fff;
  border-radius: 0px;
  border: 0 !important;
  font-size: 14px;
  font-family: "Roboto";
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-box-shadow: 0 10px 30px rgba(0, 59, 143, 0.5);
          box-shadow: 0 10px 30px rgba(0, 59, 143, 0.5);
}

.middle-section .learn-filter-section .radio-list .radio-item .call-detail .selected-div .btn-select:hover {
  background: #2a6f85;
  background: linear-gradient(111deg, #2a6f85 0%, #09253b 100%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-color: #fff !important;
  transition: all 0.3s ease-in-out;
}

.middle-section .learn-filter-section .radio-list .radio-item .call-detail .selected-div .btn-select:active {
  background: #2a6f85;
  background: linear-gradient(111deg, #2a6f85 0%, #09253b 100%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-color: #fff !important;
}

.middle-section .learn-filter-section .radio-list .radio-item .call-detail .call-img {
  width: 202px;
  min-height: 110px;
}

.middle-section .learn-filter-section .radio-list .radio-item .call-detail .call-img img {
  width: auto;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.middle-section .learn-filter-section .radio-list .radio-item .no-img .call-content {
  min-height: auto;
}

.middle-section .learn-filter-section .radio-list .radio-item .no-img .call-img {
  height: auto;
}

.middle-section .learn-filter-section .radio-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.middle-section .learn-filter-section .radio-action .right-conetnt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.middle-section .learn-filter-section .radio-action .right-conetnt .btn {
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 14px;
  color: #000;
  line-height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto";
  font-weight: 300;
}

.middle-section .learn-filter-section .radio-action .right-conetnt .btn i {
  font-size: 20px;
}

.middle-section .learn-filter-section .radio-action .right-conetnt .btn:hover span {
  text-decoration: underline;
}

.middle-section .product-info-section {
  padding: 40px 0;
}

.middle-section .product-info-section .content .result p {
  font-size: 20px;
  line-height: 22px;
  color: #003B8E;
  margin-bottom: 40px;
}

.middle-section .product-info-section .content h1 {
  font-size: 30px;
  line-height: 45px;
  color: #003B8E;
  margin-bottom: 15px;
}

.middle-section .product-info-section .content .filter-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 27px;
}

.middle-section .product-info-section .content .filter-div ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.middle-section .product-info-section .content .filter-div ul li {
  margin-right: 15px;
  float: left;
}

.middle-section .product-info-section .content .filter-div ul li .btn {
  background-color: #D1EDF6;
  color: #003B8E;
  height: 40px;
  font-family: "Roboto";
  border-radius: 5px;
  font-size: 18px;
  line-height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.middle-section .product-info-section .content .filter-div ul li .btn:hover {
  background-color: #A5D3E1;
}

.middle-section .product-info-section .content .filter-div ul li .btn i {
  font-size: 24px;
}

.middle-section .product-info-section .content .filter-div ul li input {
  background-color: #FFFFFF;
  border-color: #B5CEFF;
  max-width: 100px;
  font-size: 18px;
  font-family: "Roboto";
  text-align: center;
}

.middle-section .product-info-section .content .filter-div ul li .btn-go {
  background: #41add4;
  background: linear-gradient(114deg, #41add4 0%, #1763a7 100%);
  width: 70px;
  height: 40px;
  color: #fff;
  border: 0;
  -webkit-box-shadow: 0 10px 30px rgba(147, 147, 147, 0.16);
          box-shadow: 0 10px 30px rgba(147, 147, 147, 0.16);
}

.middle-section .product-info-section .content .filter-div ul li .btn-go:hover {
  background: #2a6f85;
  background: linear-gradient(111deg, #2a6f85 0%, #09253b 100%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-color: #fff !important;
}

.middle-section .product-info-section .content .filter-div ul li .btn-go:active {
  background: #2a6f85;
  background: linear-gradient(111deg, #2a6f85 0%, #09253b 100%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-color: #fff !important;
}

.middle-section .product-info-section .prodcut-item {
  padding-top: 22px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(112, 112, 112, 0.4);
}

.middle-section .product-info-section .prodcut-item h1 {
  font-size: 30px;
  line-height: 70px;
  color: #003B8E;
  font-weight: 300;
  font-family: "Roboto";
  margin-bottom: 7px;
}

.middle-section .product-info-section .prodcut-item .product-img {
  max-width: 263px;
  width: 100%;
}

.middle-section .product-info-section .prodcut-item .product-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.middle-section .product-info-section .prodcut-item .product-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.middle-section .product-info-section .prodcut-item .product-detail .product-name h2 {
  font-size: 30px;
  color: #000000;
  font-weight: 700;
  line-height: 30px;
  font-family: "Roboto";
}

.middle-section .product-info-section .prodcut-item .product-detail .product-name .product-review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 22px;
}

.middle-section .product-info-section .prodcut-item .product-detail .product-name .product-review .rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.middle-section .product-info-section .prodcut-item .product-detail .product-name .product-review .rating i {
  color: #F89A48;
  font-size: 17px;
  margin-right: 3px;
}

.middle-section .product-info-section .prodcut-item .product-detail .product-name .product-review a {
  color: #414141;
  font-size: 18px;
  line-height: 22px;
  margin-left: 5px;
  font-family: "Roboto";
}

.middle-section .product-info-section .prodcut-item .product-detail .product-desc {
  max-width: 590px;
}

.middle-section .product-info-section .prodcut-item .product-detail .product-desc h4 {
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  font-weight: 700;
  margin-bottom: 10px;
  font-family: "Roboto";
}

.middle-section .product-info-section .prodcut-item .product-detail .product-desc p {
  color: #000;
  font-size: 18px;
  line-height: 27px;
  color: #000000;
  font-family: "Roboto";
  margin-bottom: 17px;
}

.middle-section .product-info-section .prodcut-item .product-detail .product-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.middle-section .product-info-section .prodcut-item .product-detail .product-btns .btn {
  width: 100%;
  font-size: 16px;
  line-height: 19px;
  height: 40px;
  max-width: 250px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-right: 20px;
}

.middle-section .product-info-section .prodcut-item .product-detail .product-btns .btn:last-child {
  margin-right: 0;
}

.middle-section .product-info-section .prodcut-item .product-detail .product-btns .btn-primary {
  background-color: rgba(248, 154, 72, 0.8);
  color: #000;
  border-color: rgba(248, 154, 72, 0.8);
}

.middle-section .product-info-section .prodcut-item .product-detail .product-btns .btn-primary:hover {
  background-color: #F89A48;
  border-color: #979797;
}

.middle-section .product-info-section .prodcut-item .product-detail .product-btns .btn-outline-primary {
  background-color: #fff;
  color: #000;
  font-weight: 400;
  border-color: #F89A48;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.middle-section .product-info-section .prodcut-item .product-detail .product-btns .btn-outline-primary:hover {
  background-color: #FCF1E7;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.middle-section .product-info-section .prodcut-item .product-detail .product-btns .btn-outline-primary:active {
  text-decoration: underline;
}

.middle-section .product-info-section .prodcut-item .product-detail .product-footer {
  width: 100%;
}

.middle-section .product-info-section .prodcut-item .product-detail .product-footer .product-img-mobile {
  display: none;
}

.middle-section .product-info-section .show-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 0 0 0;
}

.middle-section .product-info-section .show-more a.btn-show-more {
  text-transform: capitalize;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
  line-height: 22px;
  font-family: "Roboto";
  -webkit-box-shadow: none;
          box-shadow: none;
}

.middle-section .product-info-section .show-more a.btn-show-more:hover span {
  text-decoration: underline;
}

.middle-section .product-info-section .show-more a.btn-show-more i {
  font-weight: 600;
  font-size: 24px;
  margin-left: 10px;
  text-decoration: none !important;
}

.middle-section .best-values-section {
  padding: 40px 0;
  background-color: #EFFAFD;
}

.middle-section .best-values-section .content h2 {
  font-size: 30px;
  line-height: 40px;
  color: #003B8E;
  margin-bottom: 20px;
}

.middle-section .best-values-section .table-div {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  overflow: hidden;
  border: 1px solid #707070;
}

.middle-section .best-values-section .table {
  background-color: #fff;
  margin-bottom: 0;
  border-spacing: 0;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

.middle-section .best-values-section .table .thead {
  border: 0;
}

.middle-section .best-values-section .table .tboday {
  border: 0;
}

.middle-section .best-values-section .table tr th {
  padding: 8px 10px;
  color: #000;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  vertical-align: middle;
  text-align: center;
  border: 0;
}

.middle-section .best-values-section .table tr th h3 {
  font-size: 18px;
  color: #000;
  line-height: 22px;
}

.middle-section .best-values-section .table tr th:last-child {
  border-radius: 10px;
}

.middle-section .best-values-section .table tr th:first-child {
  border-radius: 10px;
}

.middle-section .best-values-section .table tr .m-78 {
  max-width: 78px;
}

.middle-section .best-values-section .table tr .tex-left {
  text-align: left;
}

.middle-section .best-values-section .table tr .tbl-img img {
  width: 70px;
  height: 70px;
  -o-object-fit: cover;
     object-fit: cover;
}

.middle-section .best-values-section .table tr .tbl-price {
  color: #003B8E;
}

.middle-section .best-values-section .table tr .tbl-runnerup {
  color: #003B8E;
  font-weight: 400;
  font-family: "Roboto";
}

.middle-section .best-values-section .table tr .tbl-runnerup:hover {
  text-decoration: underline;
}

.middle-section .best-values-section .table tr td {
  padding: 8px 10px;
  vertical-align: middle;
  color: #000;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  font-family: "Roboto";
  border: 0;
  white-space: nowrap;
  border-top: 1px solid rgba(112, 112, 112, 0.3) !important;
}

.middle-section .best-values-section .table tr td:nth-child(4) {
  font-weight: 400;
}

.middle-section .best-values-section .table tr td:nth-child(5) {
  font-weight: 400;
}

.middle-section .best-values-section .table tr .btn {
  width: 100%;
  font-size: 16px;
  line-height: 19px;
  height: 40px;
  max-width: 250px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.middle-section .best-values-section .table tr .btn-outline-primary {
  background-color: #fff;
  color: #000;
  font-weight: 400;
  border-color: #F89A48;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.middle-section .best-values-section .table tr .btn-outline-primary:hover {
  background-color: #FCF1E7;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.middle-section .best-values-section .table tr .btn-outline-primary:active {
  text-decoration: underline;
}

.middle-section .page-tile-section {
  padding: 18px 0px;
  border-bottom: 2px solid #BFBFBF;
}

.middle-section .page-tile-section p {
  margin-bottom: 0;
  font-size: 24px;
  line-height: 36px;
  color: #003B8E;
}

.middle-section .page-tile-section a {
  font-size: 24px;
  line-height: 36px;
  color: #003B8E;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
}

.middle-section .page-tile-section a i {
  font-size: 24px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.middle-section .page-tile-section .collapsed i {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.middle-section .page-tile-section:hover {
  background-color: rgba(235, 235, 235, 0.23);
}

.owl-theme .owl-nav .disabled {
  opacity: 0 !important;
}

.product-details {
  -webkit-transition: unset !important;
  transition: unset !important;
}

.product-details.collapse {
  padding-top: 50px;
}

.product-details.collapse.show {
  display: block !important;
}

.footer-section {
  padding: 29px 0 25px 0;
  background: #47b8da;
  background: -webkit-gradient(linear, left top, right top, from(#47b8da), to(#003b8e));
  background: linear-gradient(90deg, #47b8da 0%, #003b8e 100%);
}

.footer-section .quicklink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
}

.footer-section .quicklink ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
}

.footer-section .quicklink ul li {
  width: 100%;
  display: inline-block;
}

.footer-section .quicklink ul li a {
  display: block;
  width: 100%;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;
  font-weight: 400;
  font-family: "Roboto";
  margin-bottom: 17px;
  text-decoration: underline;
}

.footer-section .quicklink ul li a:hover {
  font-weight: 700;
}

.footer-section .quicklink ul li a:focus {
  font-weight: 700;
}

.footer-section .footer-text p {
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  text-align: center;
  font-weight: 400;
  font-family: "Roboto";
  margin-bottom: 18px;
}

.footer-section .affilate-link a {
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  font-weight: 400;
  font-family: "Roboto";
  display: block;
  text-decoration: underline;
}

.footer-section .affilate-link a:hover {
  font-weight: 700;
}

.footer-section .affilate-link a:focus {
  font-weight: 700;
}

.text-readmore {
  display: none;
}

.learn-more {
  display: none;
}

.collapse.open {
  display: block;
}

.dollars {
  position: relative;
  padding-left: 10px !important;
}

.dollars input {
  padding-left: 25px !important;
  text-align: left !important;
}

.dollars::after {
  color: #37424a !important;
  content: "$";
  font-size: 16px !important;
  font-weight: 400;
  position: absolute;
  top: 9px;
  left: 25px;
  height: 20px;
  width: 10px;
  z-index: 99;
  color: #495057;
  font-family: "Roboto";
}

.modal-custom .modal-dialog {
  max-width: 575px;
  margin-top: 120px;
  margin-bottom: 50px;
}

.modal-custom .modal-dialog .modal-content {
  border-radius: 5px;
  border: 0;
}

.modal-custom .modal-dialog .modal-content .modal-header {
  padding: 28px 30px 12px 30px;
  border: 0;
}

.modal-custom .modal-dialog .modal-content .modal-header h5 {
  font-size: 24px;
  line-height: 26px;
  color: #003B8E;
}

.modal-custom .modal-dialog .modal-content .modal-header .close {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  color: #003B8E;
  font-size: 30px;
  opacity: 1;
}

.modal-custom .modal-dialog .modal-content .modal-header .btn-refresh {
  outline: none;
  color: #003B8E;
  font-size: 30px;
  line-height: 1;
  opacity: 1;
  background: #fff;
  display: none;
  border: 0;
  padding: 1rem 1rem;
  margin: -1rem -1rem -1rem auto;
  -webkit-animation: rotate 5s normal linear infinite;
          animation: rotate 5s normal linear infinite;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.modal-custom .modal-dialog .modal-content .modal-header .btn-refresh i {
  font-size: 22px;
}

.modal-custom .modal-dialog .modal-content .modal-body {
  padding: 12px 30px 15px 30px;
}

.modal-custom .modal-dialog .modal-content .modal-body .filter-item {
  border-bottom: 1px solid rgba(112, 112, 112, 0.4);
  margin-bottom: 20px;
}

.modal-custom .modal-dialog .modal-content .modal-body .filter-item h3 {
  color: #000000;
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
  margin-bottom: 15px;
}

.modal-custom .modal-dialog .modal-content .modal-body .filter-item ul {
  margin: 0 0 5px 0;
  padding: 0;
  list-style: none;
  width: 100%;
}

.modal-custom .modal-dialog .modal-content .modal-body .filter-item ul li {
  display: inline-block;
  margin-right: 8px;
  float: none;
  margin-bottom: 10px;
}

.modal-custom .modal-dialog .modal-content .modal-body .filter-item .filter-option {
  padding: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 28px;
  font-size: 16px;
  line-height: 26px;
  font-family: "Roboto";
  background-color: #FFFFFF;
  border: 1px solid #BFBFBF;
  border-radius: 5px;
  padding: 4px 10px 5px 10px;
}

.modal-custom .modal-dialog .modal-content .modal-body .filter-item .filter-option::before {
  display: none;
}

.modal-custom .modal-dialog .modal-content .modal-body .filter-item .filter-option::after {
  display: none;
}

.modal-custom .modal-dialog .modal-content .modal-body .filter-item .filter-option:hover {
  background-color: rgba(181, 206, 255, 0.25) !important;
  border-color: #003B8E;
  color: #000;
}

.modal-custom .modal-dialog .modal-content .modal-body .filter-item .filter-option.active {
  background-color: rgba(181, 206, 255, 0.25) !important;
  border-color: #003B8E;
  color: #000;
}

.modal-custom .modal-dialog .modal-content .modal-body .filter-item .row-selected .filter-option {
  background-color: #EBEBEB;
}

.modal-custom .modal-dialog .modal-content .modal-body .filter-item .custom-control {
  padding: 0;
  margin: 0;
}

.modal-custom .modal-dialog .modal-content .modal-body .filter-item .custom-control .custom-control-label {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 28px;
  font-size: 16px;
  line-height: 26px;
  font-family: "Roboto";
  background-color: #FFFFFF;
  border: 1px solid #BFBFBF;
  border-radius: 5px;
  padding: 4px 10px 5px 10px;
}

.modal-custom .modal-dialog .modal-content .modal-body .filter-item .custom-control .custom-control-label::before {
  display: none;
}

.modal-custom .modal-dialog .modal-content .modal-body .filter-item .custom-control .custom-control-label::after {
  display: none;
}

.modal-custom .modal-dialog .modal-content .modal-body .filter-item .custom-control .custom-control-label:hover {
  background-color: rgba(181, 206, 255, 0.25) !important;
  border-color: #003B8E;
  color: #000;
}

.modal-custom .modal-dialog .modal-content .modal-body .filter-item .custom-control .custom-control-input:checked ~ .custom-control-label {
  background-color: rgba(181, 206, 255, 0.25) !important;
  border-color: #003B8E;
  color: #000;
}

.modal-custom .modal-dialog .modal-content .modal-body .filter-item .row-selected .custom-control .custom-control-label {
  background-color: #EBEBEB;
}

.modal-custom .modal-dialog .modal-content .modal-footer {
  padding: 15px 30px 30px 30px;
}

.modal-custom .modal-dialog .modal-content .modal-footer .btn-clear {
  height: 40px;
  background-color: transparent;
  border: 1px solid #707070;
  border-radius: 6px;
  color: #000000;
  font-size: 18px;
  font-family: "Roboto";
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.modal-custom .modal-dialog .modal-content .modal-footer .btn-clear:hover {
  text-decoration: underline;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.modal-custom .modal-dialog .modal-content .modal-footer .btn-save {
  height: 40px;
  background: #41add4;
  background: linear-gradient(114deg, #41add4 0%, #1763a7 100%);
  color: #fff;
  border-radius: 6px;
  border: 0 !important;
  font-size: 18px;
  font-family: "Roboto";
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.modal-custom .modal-dialog .modal-content .modal-footer .btn-save:hover {
  background: #2a6f85;
  background: linear-gradient(111deg, #2a6f85 0%, #09253b 100%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-color: #fff !important;
  transition: all 0.3s ease-in-out;
}

.modal-custom .modal-dialog .modal-content .modal-footer .btn-save:active {
  background: #2a6f85;
  background: linear-gradient(111deg, #2a6f85 0%, #09253b 100%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-color: #fff !important;
}

.modal-backdrop {
  background-color: #707070 !important;
  opacity: 0.6 !important;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
  25% {
    -webkit-transform: rotate3d(0, 0, 1, -90deg);
    transform: rotate3d(0, 0, 1, -90deg);
  }
  50% {
    -webkit-transform: rotate3d(0, 0, 1, -180deg);
    transform: rotate3d(0, 0, 1, -180deg);
  }
  75% {
    -webkit-transform: rotate3d(0, 0, 1, -270deg);
    transform: rotate3d(0, 0, 1, -270deg);
  }
  100% {
    -webkit-transform: rotate3d(0, 0, 1, -360deg);
    transform: rotate3d(0, 0, 1, -360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
  25% {
    -webkit-transform: rotate3d(0, 0, 1, -90deg);
    transform: rotate3d(0, 0, 1, -90deg);
  }
  50% {
    -webkit-transform: rotate3d(0, 0, 1, -180deg);
    transform: rotate3d(0, 0, 1, -180deg);
  }
  75% {
    -webkit-transform: rotate3d(0, 0, 1, -270deg);
    transform: rotate3d(0, 0, 1, -270deg);
  }
  100% {
    -webkit-transform: rotate3d(0, 0, 1, -360deg);
    transform: rotate3d(0, 0, 1, -360deg);
  }
}

/*###########################################################################
############################## media query started ###############################
######################################################################################*/
@media (min-width: 768px) {
  span#text_hide_show {
    display: block !important;
  }
}

@media (max-width: 320px) {
  .middle-section .feature-section .featured-item .featured-img {
    height: 115px !important;
  }
  .middle-section .feature-section .featured-item .featured-content h3 {
    font-size: 16px !important;
  }
  .middle-section .product-info-section .prodcut-item .product-detail .product-footer .product-img-mobile {
    margin-right: 30px !important;
  }
  .middle-section .learn-filter-section .radio-list .radio-item .call-detail .call-content h3 {
    font-size: 16px !important;
  }
  .middle-section .product-info-section .prodcut-item .product-detail .product-name h2 {
    font-size: 20px !important;
  }
  .middle-section .product-info-section .prodcut-item .product-detail .product-desc h4 {
    font-size: 16px !important;
  }
}

@media (max-width: 767px) {
  .dollars input {
    padding-left: 18px !important;
  }
  .dollars::after {
    font-size: 12px !important;
    left: 20px !important;
  }
  .text-readmore {
    display: inline-block;
    color: #003B8E !important;
    font-size: 16px;
    font-family: "Roboto";
  }
  .modal-backdrop {
    background-color: transparent !important;
    opacity: 1;
  }
  .learn-more {
    display: block;
    color: #003B8E !important;
    font-size: 16px;
    font-family: "Roboto";
  }
  .collapse.open {
    display: none;
  }
  .collapse.show {
    display: block !important;
  }
  .search-bar {
    display: none;
  }
  .navbar-toggler {
    display: none;
  }
  .modal-custom .modal-dialog {
    margin: 100px auto 0 auto;
    border-radius: 0;
    overflow: hidden;
    max-width: unset;
  }
  .modal-custom .modal-dialog .modal-content {
    border-radius: 0;
  }
  .modal-custom .modal-dialog .modal-content .modal-body {
    padding-bottom: 80px;
    max-height: calc(100vh - 170px);
    min-height: calc(100vh - 170px);
    overflow-y: scroll;
  }
  .modal-custom .modal-dialog .modal-content .modal-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #fff;
  }
  .header .navbar {
    padding: 8px 0;
    z-index: 999;
    height: 56px;
  }
  .header .navbar .col-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .header .navbar .col-header .col-30 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
    max-width: 20%;
  }
  .header .navbar .col-header .col-70 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 80%;
            flex: 0 0 80%;
    max-width: 80%;
  }
  .header .navbar .mobile-header .col-30 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
  }
  .header .navbar .mobile-header .col-70 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 0%;
            flex: 0 0 0%;
    max-width: 0%;
  }
  .header .navbar .navbar-brand {
    width: 120px;
    height: auto;
    margin: 0 auto;
    padding: 0px;
    border: 0 !important;
  }
  .header .navbar .navbar-brand img {
    width: 100%;
  }
  .header .navbar .collapse1 {
    padding: 10px 0;
  }
  .header .navbar .collapse1 .navbar-nav .nav-item {
    padding: 0 20px;
  }
  .header .navbar .collapse1 .navbar-nav .nav-item .nav-link {
    color: #ffffff;
    font-size: 16px;
    line-height: 26px;
    padding: 8px 12px;
    font-weight: 500;
    white-space: nowrap;
  }
  .header .navbar .collapse1 .navbar-nav .nav-item .nav-link:hover {
    color: #ffffff;
  }
  .header .navbar .collapse1 .navbar-nav .nav-btn .nav-link {
    background-color: #ed5c37;
    color: #ffffff;
    border-radius: 4px;
    -webkit-transition: none;
    transition: none;
  }
  .header .navbar .collapse1 .navbar-nav .nav-btn .nav-link:hover {
    background-color: #ffffff;
    color: #ed5c37;
  }
  .header.header-2 .navbar {
    height: 100px;
    padding: 0 15px;
  }
  .header.header-2 .navbar .navbar-brand {
    margin: 0 0 8px 0;
  }
  .header.header-2 .search-bar {
    display: block;
  }
  .header.header-2 .search-bar .form-control {
    background-color: #F4F6FA;
    border: 1px solid #414141;
    border-radius: 5px;
  }
  .header.header-2 .search-bar .input-group-text {
    background-color: transparent;
  }
  .header.header-2 .search-bar .search-div {
    display: none;
  }
  .header.header-2 .mobile-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header.header-2 .mobile-header .col-30 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
  }
  .header.header-2 .mobile-header .col-70 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  #cd-shadow-layer {
    position: fixed;
    min-height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    z-index: 2;
    display: none;
    z-index: 99999;
  }
  .sidenav-new-menu {
    height: 100%;
    min-height: 100vh;
    width: 300px;
    position: fixed;
    z-index: 1;
    right: -300px;
    top: 0;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index: 999999;
    background-color: #000000;
    padding: 40px 0px 20px 0px !important;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .width-menu {
    width: 300px;
    display: block !important;
    right: 0px;
  }
  .closebtn {
    display: block !important;
    color: #ffffff;
    text-decoration: none;
  }
  .closebtn:hover {
    display: block;
    color: #ffffff;
    text-decoration: none;
  }
  .sidenav-new-menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    display: block;
  }
  .middle-section {
    padding-top: 56px;
  }
  .middle-section .find-section {
    padding: 78px 0 50px 0;
  }
  .middle-section .find-section .content {
    padding: 0 10px;
  }
  .middle-section .find-section .content h1 {
    font-size: 30px;
    line-height: 37px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
  }
  .middle-section .find-section .content h2 {
    font-size: 16px;
    line-height: 27px;
    color: #000000;
    text-align: center;
    margin-bottom: 15px;
  }
  .middle-section .find-section .content .search-bar {
    display: block;
    max-width: 285px;
    width: 100%;
    margin: 0 auto;
  }
  .middle-section .find-section .content .search-bar .form-control {
    height: 50px;
    background-color: #F4F6FA;
    border-color: #414141;
    font-size: 18px;
    line-height: 22px;
    color: #707070;
    border-radius: 5px;
  }
  .middle-section .find-section .content .search-bar .input-group-text {
    height: 50px;
  }
  .middle-section .find-section .content .search-bar .input-group-text i {
    color: #707070;
  }
  .middle-section .find-section .content .search-bar .input-group-append {
    display: none;
  }
  .middle-section .popular-guid-section {
    padding: 20px 0 15px 0;
  }
  .middle-section .popular-guid-section .heading h3 {
    font-size: 18px;
    line-height: 22px;
  }
  .middle-section .popular-guid-section .owl-theme {
    padding: 0;
  }
  .middle-section .popular-guid-section .owl-nav.disabled {
    display: none !important;
  }
  .middle-section .popular-guid-section .popular-box .popular-img {
    height: 108px;
    width: 108px;
    min-width: 108px;
    margin-bottom: 20px;
  }
  .middle-section .popular-guid-section .popular-box .popular-img img {
    width: 70px;
    height: 70px;
  }
  .middle-section .popular-guid-section .popular-box h3 {
    font-size: 16px;
    line-height: 18px;
    color: #000;
    margin-bottom: 6px;
  }
  .middle-section .popular-guid-section .popular-box p {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 0;
  }
  .middle-section .makeup-section .makeup-inner-div {
    padding: 15px 20px 18px 20px;
  }
  .middle-section .makeup-section .makeup-inner-div h3 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 10px;
  }
  .middle-section .makeup-section .search-bar {
    display: block;
    margin-left: 0;
    background-color: transparent;
  }
  .middle-section .makeup-section .search-bar .search-div {
    display: none;
  }
  .middle-section .makeup-section .search-bar .search-icon {
    display: block;
  }
  .middle-section .makeup-section .search-bar .form-control {
    padding-left: 50px;
    background-color: #F4F6FA;
    color: #414141;
    border-radius: 5px;
  }
  .middle-section .feature-section {
    padding: 30px 0 0 0;
  }
  .middle-section .feature-section .heading h2 {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 5px;
  }
  .middle-section .feature-section .heading P {
    font-size: 16px;
    line-height: 22px;
  }
  .middle-section .feature-section .featured-item .featured-img {
    width: 90px;
    height: 90px;
    border: 0 !important;
  }
  .middle-section .feature-section .featured-item .featured-img img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .middle-section .feature-section .featured-item .featured-content {
    width: calc(100% - 90px);
    padding: 8px 7px 8px 10px;
    min-height: 90px;
    border: 0 !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .middle-section .feature-section .featured-item .featured-content h3 {
    font-size: 18px;
    margin-bottom: 12px;
    line-height: 18px;
  }
  .middle-section .feature-section .featured-item .featured-content ul {
    margin-left: -5px;
  }
  .middle-section .feature-section .featured-item .featured-content ul li {
    padding: 0 4px !important;
    line-height: 14px;
    margin-bottom: 5px;
    float: left;
  }
  .middle-section .feature-section .featured-item .featured-content ul li a {
    font-size: 14px;
    line-height: 18px;
  }
  .middle-section .feature-section .featured-item .featured-content ul li a h4 {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
  }
  .middle-section .feature-section .featured-item .featured-content ul li:last-child {
    display: none;
  }
  .middle-section .feature-section .featured-item .featured-content ul li:nth-last-child(2) {
    border: 0;
  }
  .middle-section .best-deal-section .heading h2 {
    font-size: 18px;
    line-height: 22px;
  }
  .middle-section .best-deal-section .heading p {
    font-size: 16px;
    line-height: 22px;
  }
  .middle-section .best-deal-section .sub-heading h3 {
    font-size: 18px;
    line-height: 22px;
  }
  .middle-section .best-deal-section .sub-heading a {
    font-size: 18px;
    line-height: 22px;
  }
  .middle-section .best-deal-section .owl-theme {
    padding: 0;
  }
  .middle-section .best-deal-section .owl-nav.disabled {
    display: none !important;
  }
  .middle-section .best-deal-section .product-item .product-price h4 {
    font-size: 16px;
    line-height: 19px;
  }
  .middle-section .best-deal-section .product-item .product-img img {
    width: 120px;
    height: 120px;
  }
  .middle-section .best-deal-section .product-item .product-review .rating i {
    font-size: 12px;
  }
  .middle-section .best-deal-section .product-item .product-review a {
    font-size: 12px;
  }
  .middle-section .best-deal-section .product-item .product-name {
    min-height: 38px;
  }
  .middle-section .best-deal-section .product-item .product-name h3 {
    font-size: 16px;
    line-height: 19px;
  }
  .middle-section .product-details {
    padding: 65px 0 0 0;
  }
  .middle-section .product-details .content h1 {
    font-size: 28px;
    line-height: 42px;
    font-weight: 600;
    margin-bottom: 25px;
  }
  .middle-section .product-details .content .profile-owner {
    margin-bottom: 20px;
  }
  .middle-section .product-details .content-product {
    margin-bottom: 30px;
  }
  .middle-section .product-details .content-product .readmore-text::before {
    display: none;
  }
  .middle-section .product-details .content-product p {
    padding-left: 0;
    float: none;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 12px;
  }
  .middle-section .product-details .content-product p span::before {
    left: 3px;
    margin-right: 20px;
    position: relative;
    display: inline-block;
    top: 0px;
  }
  .middle-section .product-details .content-product p img.img-detail {
    width: 100%;
    height: auto;
    float: none;
    margin-left: 0;
    margin-bottom: 22px;
  }
  .middle-section .learn-filter-section {
    padding: 27px 0;
  }
  .middle-section .learn-filter-section .heading h2 {
    font-size: 18px;
    line-height: 24px;
  }
  .middle-section .learn-filter-section .profile-owner {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .middle-section .learn-filter-section .content h2 {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 12px;
  }
  .middle-section .learn-filter-section .radio-list .radio-item .custom-control {
    padding: 0;
  }
  .middle-section .learn-filter-section .radio-list .radio-item .custom-control .custom-control-label::after {
    left: 20px;
    top: 15px;
  }
  .middle-section .learn-filter-section .radio-list .radio-item .custom-control .custom-control-label::before {
    left: 20px;
    top: 15px;
  }
  .middle-section .learn-filter-section .radio-list .radio-item .call-detail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .middle-section .learn-filter-section .radio-list .radio-item .call-detail .btn-open {
    position: absolute;
    right: 15px;
    top: 0px;
    font-size: 30px;
    -webkit-box-shadow: none;
            box-shadow: none;
    display: block;
    cursor: pointer;
  }
  .middle-section .learn-filter-section .radio-list .radio-item .call-detail .call-content {
    width: 100%;
    padding: 17px 20px 17px 20px;
    min-height: unset;
  }
  .middle-section .learn-filter-section .radio-list .radio-item .call-detail .call-content h3 {
    padding-left: 40px;
    font-size: 20px;
    margin-bottom: 0;
    padding-right: 20px;
  }
  .middle-section .learn-filter-section .radio-list .radio-item .call-detail .call-content p {
    font-size: 18px;
    line-height: 27px;
  }
  .middle-section .learn-filter-section .radio-list .radio-item .call-detail .img-content img {
    display: block;
    margin-bottom: 14px;
    border-radius: 4px;
  }
  .middle-section .learn-filter-section .radio-list .radio-item .call-detail .selected-div {
    display: block;
  }
  .middle-section .learn-filter-section .radio-list .radio-item .call-detail .img-content {
    display: none;
    margin-top: 20px;
  }
  .middle-section .learn-filter-section .radio-list .radio-item .call-detail .call-img {
    width: 100%;
    display: none;
  }
  .middle-section .learn-filter-section .radio-list .radio-item .no-img h3 {
    margin-bottom: 0 !important;
  }
  .middle-section .learn-filter-section .radio-list .radio-item .no-img p {
    display: none;
  }
  .middle-section .learn-filter-section .radio-action {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .middle-section .learn-filter-section .radio-action .left-conetnt {
    width: 100%;
  }
  .middle-section .learn-filter-section .radio-action .left-conetnt .btn {
    width: 100%;
    max-width: unset;
  }
  .middle-section .learn-filter-section .radio-action .right-conetnt {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 20px;
  }
  .middle-section .learn-filter-section .radio-action .right-conetnt .btn {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .middle-section .product-info-section {
    padding: 33px 0 30px 0;
  }
  .middle-section .product-info-section .content .result p {
    font-size: 16px;
    line-height: 20px;
  }
  .middle-section .product-info-section .content h1 {
    font-size: 24px;
    line-height: 36px;
    font-weight: 600;
  }
  .middle-section .product-info-section .content .filter-div ul li {
    margin-right: 5px;
  }
  .middle-section .product-info-section .content .filter-div ul li:last-child {
    margin-right: 0;
  }
  .middle-section .product-info-section .content .filter-div ul li .btn {
    font-size: 12px;
    line-height: 20px;
    white-space: nowrap;
    height: 35px;
    padding: 10px 8px;
  }
  .middle-section .product-info-section .content .filter-div ul li .btn i {
    font-size: 16px;
  }
  .middle-section .product-info-section .content .filter-div ul li input {
    font-size: 12px;
    padding: 10px 5px;
    height: 35px;
  }
  .middle-section .product-info-section .content .filter-div ul li .btn-go {
    width: 55px;
  }
  .middle-section .product-info-section .prodcut-item {
    padding: 20px 0;
  }
  .middle-section .product-info-section .prodcut-item h1 {
    font-size: 20px;
    line-height: 24px;
  }
  .middle-section .product-info-section .prodcut-item .product-img {
    display: none;
    max-width: 115px;
    height: auto;
    margin-bottom: 18px;
  }
  .middle-section .product-info-section .prodcut-item .product-img img {
    width: 100%;
  }
  .middle-section .product-info-section .prodcut-item .product-detail .product-name h2 {
    font-size: 24px;
    line-height: 30px;
  }
  .middle-section .product-info-section .prodcut-item .product-detail .product-name .product-review .rating i {
    color: #F8DA48;
  }
  .middle-section .product-info-section .prodcut-item .product-detail .product-name .product-review a {
    font-size: 12px;
  }
  .middle-section .product-info-section .prodcut-item .product-detail .product-desc {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .middle-section .product-info-section .prodcut-item .product-detail .product-desc p {
    font-size: 16px;
    line-height: 22px;
  }
  .middle-section .product-info-section .prodcut-item .product-detail .product-footer {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 18px;
  }
  .middle-section .product-info-section .prodcut-item .product-detail .product-footer .product-img-mobile {
    max-width: 115px;
    height: auto;
    display: block;
    margin-right: 40px;
  }
  .middle-section .product-info-section .prodcut-item .product-detail .product-footer .product-img-mobile img {
    width: 100%;
  }
  .middle-section .product-info-section .prodcut-item .product-detail .product-footer .product-btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .middle-section .product-info-section .prodcut-item .product-detail .product-footer .product-btns .btn {
    margin-right: 0;
  }
  .middle-section .product-info-section .show-more a.btn-show-more {
    font-size: 16px;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .middle-section .product-info-section .show-more a.btn-show-more i {
    font-size: 20px;
  }
  .middle-section .best-values-section {
    padding: 20px 0 40px 0;
  }
  .middle-section .best-values-section .content h2 {
    font-size: 24px;
    line-height: 36px;
    color: #003B8E;
  }
  .middle-section .best-values-section .table tr th {
    font-size: 16px;
  }
  .middle-section .best-values-section .table tr th h3 {
    font-size: 16px;
  }
  .middle-section .best-values-section .table tr td {
    font-size: 16px;
  }
  .middle-section .page-tile-section {
    padding-top: 60px;
  }
  .middle-section .page-tile-section p {
    font-size: 16px;
    line-height: 27px;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    display: -webkit-box;
    max-width: 96%;
  }
  .middle-section .page-tile-section a {
    font-size: 16px;
    line-height: 27px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .middle-section .page-tile-section a i {
    position: absolute;
    top: 0;
    right: 10px;
  }
  .middle-section .product-details.collapse.show {
    padding-top: 30px !important;
  }
  .footer-section {
    padding: 22px 0;
  }
  .footer-section .quicklink ul {
    display: inline-block;
  }
  .footer-section .quicklink ul li a {
    text-align: left;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 17px;
  }
  .footer-section .quicklink ul li:nth-last-child(1) {
    width: auto;
    margin-right: 20px;
  }
  .footer-section .quicklink ul li:nth-last-child(2) {
    width: auto;
    margin-right: 20px;
  }
  .footer-section .footer-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .footer-section .footer-text p {
    margin-bottom: 0;
    text-align: left;
    line-height: 25px;
  }
  .footer-section .affilate-link {
    margin-bottom: 20px;
  }
  .footer-section .affilate-link a {
    text-align: left;
  }
}

@media (min-width: 997px) and (max-width: 1200px) {
  .middle-section .feature-section .featured-item .featured-img {
    width: 300px;
  }
  .middle-section .feature-section .featured-item .featured-img img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .middle-section .feature-section .featured-item .featured-content {
    width: calc(100% - 300px);
  }
  .middle-section .feature-section .featured-item .featured-content h3 {
    margin-bottom: 10px;
  }
  .middle-section .feature-section .featured-item .featured-content ul li {
    padding: 0 10px;
  }
  .middle-section .feature-section .featured-item .featured-content ul li a {
    font-size: 16px;
    line-height: 20px;
  }
  .middle-section .feature-section .featured-item .featured-content ul li a h4 {
    font-size: 16px;
    line-height: 20px;
  }
  .middle-section .feature-section .featured-item .featured-content ul li:nth-last-child(2) {
    border: 0;
  }
  .middle-section .feature-section .featured-item .featured-content ul li:nth-last-child(1) {
    display: none;
  }
  .middle-section .learn-filter-section .radio-list .radio-item .call-detail .call-img img {
    min-height: 140px;
  }
}

@media (min-width: 768px) and (max-width: 996px) {
  .nav-center {
    margin-left: 50px;
  }
  .middle-section .feature-section .featured-item .featured-img {
    width: 200px;
  }
  .middle-section .feature-section .featured-item .featured-img img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .middle-section .feature-section .featured-item .featured-content {
    width: calc(100% - 200px);
  }
  .middle-section .feature-section .featured-item .featured-content ul li a {
    font-size: 14px;
    line-height: 20px;
  }
  .middle-section .feature-section .featured-item .featured-content ul li a h4 {
    font-size: 14px;
    line-height: 20px;
  }
  .middle-section .feature-section .featured-item .featured-content ul li:nth-last-child(2) {
    border: 0;
  }
  .middle-section .feature-section .featured-item .featured-content ul li:nth-last-child(1) {
    display: none;
  }
  .middle-section .owl-nav.disabled {
    display: none !important;
  }
}

/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .nav-center .search-bar {
    max-width: 300px;
    margin-left: 50px;
  }
  .learn-filter-section .radio-list .radio-item .call-detail .call-img img {
    min-height: 160px;
  }
}

/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .header .navbar .collapse1 .navbar-nav .nav-item .nav-link {
    font-size: 12px;
    line-height: 22x;
    padding: 8px 10px;
    font-weight: 500;
  }
}

/* ----------- iPad Pro ----------- */
/* Portrait and Landscape */
/* Portrait */
@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
  .nav-center .search-bar {
    max-width: 800px;
    margin-left: 50px;
  }
}
/*# sourceMappingURL=custom.css.map */