.typeahead, .tt-query, .tt-hint {
	border: 2px solid #CCCCCC;
	border-radius: 8px;
	font-size: 22px; /* Set input font size */
	height: auto;
	line-height: 30px;
	outline: medium none;
    margin-top: 3px;
	padding: 8px 12px;
	width: 396px;
    padding: 8px 12px;
    border: 1px solid #D6E3F5 !important;
    border-radius: 3px !important;
    box-shadow: 2px 8px 12px 0 rgba(145 183 220 / 13%);
}
.typeahead {
	background-color: #FFFFFF;
}

.typeahead li a {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    color: #000;
    padding-top: 11px;
    padding-bottom: 11px;
    border-bottom: 1px solid #EFF2F6;
    display: block;
}

.typeahead li:last-child a {
    border-bottom: 0;
    /* padding-bottom: 0; */
}

.typeahead li a span {
    display: block;
    color: #B7B7B7;
    padding: 5px 0 0 0;
}

.typeahead:focus {
	border: 2px solid #0097CF;
}
.tt-query {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.tt-hint {
	color: #999999;
}
.tt-menu {
	background-color: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	margin-top: 12px;
	padding: 8px 0;
	width: 422px;
}
.tt-suggestion {
	font-size: 22px;  /* Set suggestion dropdown font size */
	padding: 3px 20px;
}
.tt-suggestion:hover {
	cursor: pointer;
	background-color: #0097CF;
	color: #FFFFFF;
}
.tt-suggestion p {
	margin: 0;
}